openapi: 3.2.0
info:
  description: 'API to interact and manage the lifecycle of your machine learning models

    deployed through Seldon Deploy.'
  title: Seldon Deploy Explain API
  version: v1alpha1
servers:
- url: http://X.X.X.X/seldon-deploy/api/v1alpha1
- url: https://X.X.X.X/seldon-deploy/api/v1alpha1
security:
- OAuth2:
  - '[]'
tags:
- description: Explanation APIs for Seldon Deploy
  name: Explain
paths:
  /namespaces/{namespace}/pipelines/{name}/explain:
    post:
      description: Create Seldon Pipeline explanation
      operationId: ExplainSeldonPipeline
      parameters:
      - description: Namespace provides a logical grouping of resources
        in: path
        name: namespace
        required: true
        schema:
          type: string
      - description: Name identifies a resource
        in: path
        name: name
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/ExplainSeldonPipelineExplaindata'
      responses:
        '200':
          $ref: '#/components/responses/GenericResponse'
        '500':
          $ref: '#/components/responses/ErrorDefault'
      tags:
      - Explain
  /namespaces/{namespace}/seldondeployments/{name}/explain:
    post:
      description: Create Seldon Deployment explanation
      operationId: ExplainSeldonDeployment
      parameters:
      - description: Namespace provides a logical grouping of resources
        in: path
        name: namespace
        required: true
        schema:
          type: string
      - description: Name identifies a resource
        in: path
        name: name
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/ExplainSeldonPipelineExplaindata'
      responses:
        '200':
          $ref: '#/components/responses/GenericResponse'
        '500':
          $ref: '#/components/responses/ErrorDefault'
      tags:
      - Explain
components:
  schemas:
    Error:
      description: Error Error
      properties:
        code:
          description: Code
          format: int64
          type: integer
        message:
          description: Message
          type: string
        requestId:
          description: RequestId
          type: string
      type: object
  responses:
    GenericResponse:
      description: Generic
      content:
        application/json:
          schema: {}
    ErrorDefault:
      description: ErrorDefault Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  requestBodies:
    ExplainSeldonPipelineExplaindata:
      content:
        application/json:
          schema: {}
      description: Prediction contains predict payload
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        password:
          tokenUrl: https://Y.Y.Y.Y
          scopes:
            email: ''
            groups: ''
            openid: ''
            profile: ''
