openapi: 3.0.0
info:
  description: 'API to interact and manage the lifecycle of your machine learning models

    deployed through Seldon Deploy.'
  title: Seldon Deploy AlertingService Monitor API
  version: v1alpha1
servers:
- url: http://X.X.X.X/seldon-deploy/api/v1alpha1
- url: https://X.X.X.X/seldon-deploy/api/v1alpha1
security:
- OAuth2:
  - '[]'
tags:
- name: Monitor
paths:
  /namespaces/{namespace}/pipelines/{name}/monitor/featuredistributions:
    post:
      description: Get the specified Seldon Deployment predictions feature distribution
      operationId: SeldonPipelineFeatureDistributions
      parameters:
      - description: Name identifies a resource
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Namespace provides a logical grouping of resources
        in: path
        name: namespace
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/DeploymentFeatureData'
      responses:
        '200':
          $ref: '#/components/responses/FeatureDistResponse'
        '400':
          $ref: '#/components/responses/ErrorDefault'
        '500':
          $ref: '#/components/responses/ErrorDefault'
      tags:
      - Monitor
  /namespaces/{namespace}/pipelines/{name}/monitor/featurestatistics:
    post:
      description: Get the specified Seldon Deployment predictions feature statistics
      operationId: SeldonPipelineFeatureStatistics
      parameters:
      - description: Name identifies a resource
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Namespace provides a logical grouping of resources
        in: path
        name: namespace
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/DeploymentFeatureData'
      responses:
        '200':
          $ref: '#/components/responses/FeatureStatResponse'
        '400':
          $ref: '#/components/responses/ErrorDefault'
        '500':
          $ref: '#/components/responses/ErrorDefault'
      tags:
      - Monitor
  /namespaces/{namespace}/seldondeployments/{name}/monitor/featuredistributions:
    post:
      description: Get the specified Seldon Deployment predictions feature distribution
      operationId: SeldonDeploymentFeatureDistributions
      parameters:
      - description: Name identifies a resource
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Namespace provides a logical grouping of resources
        in: path
        name: namespace
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/DeploymentFeatureData'
      responses:
        '200':
          $ref: '#/components/responses/FeatureDistResponse'
        '400':
          $ref: '#/components/responses/ErrorDefault'
        '500':
          $ref: '#/components/responses/ErrorDefault'
      tags:
      - Monitor
  /namespaces/{namespace}/seldondeployments/{name}/monitor/featurestatistics:
    post:
      description: Get the specified Seldon Deployment predictions feature statistics
      operationId: SeldonDeploymentFeatureStatistics
      parameters:
      - description: Name identifies a resource
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Namespace provides a logical grouping of resources
        in: path
        name: namespace
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/DeploymentFeatureData'
      responses:
        '200':
          $ref: '#/components/responses/FeatureStatResponse'
        '400':
          $ref: '#/components/responses/ErrorDefault'
        '500':
          $ref: '#/components/responses/ErrorDefault'
      tags:
      - Monitor
components:
  responses:
    FeatureDistResponse:
      description: Feature Distribution Response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FeatureDistributionResponse'
    ErrorDefault:
      description: ErrorDefault Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    FeatureStatResponse:
      description: Feature Statistics Response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FeatureStatisticsResponse'
  schemas:
    FeatureFilter:
      description: FeatureFilter represents a feature distribution filter
      properties:
        category_name:
          description: CategoryName refers to name of the feature category relevant to PROBA and ONE_HOT features
          type: string
        feature:
          description: FeatureName refers to the name of feature as per the model predictions schema
          type: string
        gt:
          description: GreaterThan refers to numerical value of the feature filter relevant for timestamps or REAL features
          type: string
        gte:
          description: GreaterThanOrEqual refers to numerical value of the feature filter relevant for timestamps or REAL features
          type: string
        interaction:
          $ref: '#/components/schemas/FeatureInteraction'
        is_outlier:
          description: IsOutlier refers to boolean for outlier filters
          type: boolean
        is_timestamp:
          description: IsTimestamp refers to boolean for timestamp filters
          type: boolean
        lt:
          description: LessThan refers to numerical value of the feature filter relevant for timestamps or REAL features
          type: string
        lte:
          description: LessThanOrEqual refers to numerical value of the feature filter relevant for timestamps or REAL features
          type: string
        terms:
          description: Terms refers to set of feature categories to filter relevant to CATEGORICAL features
          items:
            type: string
          type: array
      type: object
    Error:
      description: Error Error
      properties:
        code:
          description: Code
          format: int64
          type: integer
        message:
          description: Message
          type: string
        requestId:
          description: RequestId
          type: string
      type: object
    FeatureDistributionResponse:
      description: FeatureDistributionResponse represents a feature distribution response
      properties:
        distribution:
          $ref: '#/components/schemas/FeatureDistribution'
        feature:
          description: FeatureName refers to the name of feature as per the model predictions schema
          type: string
        interaction:
          $ref: '#/components/schemas/FeatureInteraction'
        total_instances:
          description: TotalInstances represents the total prediction over which the distribution is computed
          format: int64
          type: integer
        type:
          description: FeatureType refers to the type of feature as per the model predictions schema
          type: string
      type: object
    FeatureDistribution:
      description: FeatureDistribution represents feature level distribution
      properties:
        buckets:
          description: Buckets in a feature distribution
          items:
            $ref: '#/components/schemas/FeatureDistributionBucket'
          type: array
      type: object
    FeatureInteraction:
      description: Feature Prediction Interaction
      type: string
    FeatureDistributionParameters:
      description: FeatureDistributionParameters represents user defined feature distribution parameters
      properties:
        histogram_interval:
          description: HistogramInterval refers to the size of bins in a aggregated feature distribution or statistics queries for real features
          format: double
          type: number
        minimum_bucket_count:
          description: MinimumBucketCount refers to the minimum bucket size to filter in case of categorical, proba or one_hot feature queries
          format: int64
          type: integer
        number_of_time_buckets:
          description: NumberOfTimeBuckets refers to the number of time bins in a non time-aggregated feature distribution or statistics queries
          format: int64
          type: integer
      type: object
    FeatureStatsBucket:
      description: FeatureDistribution represents feature level statistics bucket
      properties:
        key:
          description: Bucket Key in a feature statistics
          type: string
        stats:
          $ref: '#/components/schemas/FeatureStats'
      type: object
    FeatureDistributionBucket:
      description: FeatureDistribution represents feature level distribution bucket
      properties:
        count:
          description: Bucket Count in a feature distribution
          format: double
          type: number
        distribution:
          $ref: '#/components/schemas/FeatureDistribution'
        key:
          description: Bucket Key in a feature distribution
          type: string
      type: object
    DeploymentFeatureData:
      description: DeploymentFeatureData represents a deployment level feature data
      properties:
        aggregate_over_time:
          description: AggregateOverTime is a boolean to decide if the distribution response is to be aggregated over the time period selected
          type: boolean
        deployment_endpoint:
          description: DeploymentEndpoint refers to endpoint/predictor name relevant to the feature distribution query
          type: string
        deployment_kind:
          description: DeploymentType refers to kubernetes kind of the deployment relevant to the feature distribution query
          type: string
        deployment_name:
          description: DeploymentName refers to name of the deployment relevant to the feature distribution query
          type: string
        deployment_namespace:
          description: DeploymentNamespace refers to namespace of the deployment relevant to the feature distribution query
          type: string
        deployment_node:
          description: DeploymentNode refers to node name relevant to the feature distribution query
          type: string
        feature:
          description: FeatureName refers to the name of feature as per the model predictions schema
          type: string
        filters:
          description: Filters is a set of time, feature and/or outlier filters for the distribution/stats query
          items:
            $ref: '#/components/schemas/FeatureFilter'
          type: array
        interaction:
          $ref: '#/components/schemas/FeatureInteraction'
        parameters:
          $ref: '#/components/schemas/FeatureDistributionParameters'
        reference_data:
          description: ReferenceData is a boolean to compute stats and distributions over reference data or inference data (false by default)
          type: boolean
      type: object
    FeatureStats:
      description: FeatureStats represents feature level statistics
      properties:
        avg:
          description: Statistical Average of a feature value (relevant to REAL features)
          format: double
          type: number
        buckets:
          description: Buckets in a feature statistics
          items:
            $ref: '#/components/schemas/FeatureStatsBucket'
          type: array
        count:
          description: Statistical Count of a feature value (relevant to REAL features)
          format: int64
          type: integer
        max:
          description: Statistical Maximum of a feature value (relevant to REAL features)
          format: double
          type: number
        min:
          description: Statistical Minimum of a feature value (relevant to REAL features)
          format: double
          type: number
        most_frequent_category:
          description: Statistical Most Frequent Category Name of a feature value (relevant to CATEGORICAL, PROBA and ONE_HOT features)
          type: string
        most_frequent_category_count:
          description: Statistical Most Frequent Category Count of a feature value (relevant to CATEGORICAL, PROBA and ONE_HOT features)
          format: double
          type: number
      type: object
    FeatureStatisticsResponse:
      description: FeatureStatisticsResponse represents a feature statistics response
      properties:
        feature:
          description: FeatureName refers to the name of feature as per the model predictions schema
          type: string
        interaction:
          $ref: '#/components/schemas/FeatureInteraction'
        stats:
          $ref: '#/components/schemas/FeatureStats'
        total_instances:
          description: TotalInstances represents the total prediction over which the distribution is computed
          format: int64
          type: integer
        type:
          description: FeatureType refers to the type of feature as per the model predictions schema
          type: string
      type: object
  requestBodies:
    DeploymentFeatureData:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DeploymentFeatureData'
      description: Deployment Feature Data
      required: true
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        password:
          tokenUrl: https://Y.Y.Y.Y
          scopes:
            email: ''
            groups: ''
            openid: ''
            profile: ''
