openapi: 3.2.0
info:
  description: 'API to interact and manage the lifecycle of your machine learning models

    deployed through Seldon Deploy.'
  title: Seldon Deploy Models API
  version: v1alpha1
servers:
- url: http://X.X.X.X/seldon-deploy/api/v1alpha1
- url: https://X.X.X.X/seldon-deploy/api/v1alpha1
security:
- OAuth2:
  - '[]'
tags:
- description: Seldon Core Model APIs for Seldon Deploy
  name: Models
paths:
  /namespaces/{namespace}/models:
    post:
      description: Create a Seldon Model
      operationId: CreateModel
      parameters:
      - description: Action
        in: query
        name: action
        schema:
          type: string
      - description: Message
        in: query
        name: message
        schema:
          type: string
      - description: Namespace provides a logical grouping of resources
        in: path
        name: namespace
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/Model'
      responses:
        '200':
          $ref: '#/components/responses/SeldonModelResponse'
        '400':
          $ref: '#/components/responses/ErrorDefault'
        '403':
          $ref: '#/components/responses/ErrorDefault'
        '405':
          $ref: '#/components/responses/ErrorDefault'
        '409':
          $ref: '#/components/responses/ErrorDefault'
        '424':
          $ref: '#/components/responses/ErrorDefault'
        '500':
          $ref: '#/components/responses/ErrorDefault'
      tags:
      - Models
  /namespaces/{namespace}/models/{name}:
    delete:
      description: Delete the specified Seldon Model
      operationId: DeleteModel
      parameters:
      - description: Action
        in: query
        name: action
        schema:
          type: string
      - description: Message
        in: query
        name: message
        schema:
          type: string
      - description: Name identifies a resource
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Namespace provides a logical grouping of resources
        in: path
        name: namespace
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/GenericResponse'
        '400':
          $ref: '#/components/responses/ErrorDefault'
        '403':
          $ref: '#/components/responses/ErrorDefault'
        '405':
          $ref: '#/components/responses/ErrorDefault'
        '424':
          $ref: '#/components/responses/ErrorDefault'
        '500':
          $ref: '#/components/responses/ErrorDefault'
      tags:
      - Models
    get:
      description: Read the specified Seldon Model
      operationId: ReadModel
      parameters:
      - description: Name identifies a resource
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Namespace provides a logical grouping of resources
        in: path
        name: namespace
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/SeldonModelResponse'
        '400':
          $ref: '#/components/responses/ErrorDefault'
        '405':
          $ref: '#/components/responses/ErrorDefault'
        '424':
          $ref: '#/components/responses/ErrorDefault'
        '500':
          $ref: '#/components/responses/ErrorDefault'
      tags:
      - Models
    put:
      description: Update the specified Seldon Model
      operationId: UpdateModel
      parameters:
      - description: Action
        in: query
        name: action
        schema:
          type: string
      - description: Message
        in: query
        name: message
        schema:
          type: string
      - description: Name identifies a resource
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Namespace provides a logical grouping of resources
        in: path
        name: namespace
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/Model'
      responses:
        '200':
          $ref: '#/components/responses/SeldonModelResponse'
        '400':
          $ref: '#/components/responses/ErrorDefault'
        '403':
          $ref: '#/components/responses/ErrorDefault'
        '405':
          $ref: '#/components/responses/ErrorDefault'
        '424':
          $ref: '#/components/responses/ErrorDefault'
        '500':
          $ref: '#/components/responses/ErrorDefault'
      tags:
      - Models
components:
  schemas:
    Quantity:
      description: 'The serialization format is:


        ```

        <quantity>        ::= <signedNumber><suffix>


        (Note that <suffix> may be empty, from the "" case in <decimalSI>.)


        <digit>           ::= 0 | 1 | ... | 9

        <digits>          ::= <digit> | <digit><digits>

        <number>          ::= <digits> | <digits>.<digits> | <digits>. | .<digits>

        <sign>            ::= "+" | "-"

        <signedNumber>    ::= <number> | <sign><number>

        <suffix>          ::= <binarySI> | <decimalExponent> | <decimalSI>

        <binarySI>        ::= Ki | Mi | Gi | Ti | Pi | Ei


        (International System of units; See: http://physics.nist.gov/cuu/Units/binary.html)


        <decimalSI>       ::= m | "" | k | M | G | T | P | E


        (Note that 1024 = 1Ki but 1000 = 1k; I didn''t choose the capitalization.)


        <decimalExponent> ::= "e" <signedNumber> | "E" <signedNumber>

        ```


        No matter which of the three exponent forms is used, no quantity may represent

        a number greater than 2^63-1 in magnitude, nor may it have more than 3 decimal

        places. Numbers larger or more precise will be capped or rounded up.

        (E.g.: 0.1m will rounded up to 1m.)

        This may be extended in the future if we require larger or smaller quantities.


        When a Quantity is parsed from a string, it will remember the type of suffix

        it had, and will use the same type again when it is serialized.


        Before serializing, Quantity will be put in "canonical form".

        This means that Exponent/suffix will be adjusted up or down (with a

        corresponding increase or decrease in Mantissa) such that:


        No precision is lost

        No fractional digits will be emitted

        The exponent (or suffix) is as large as possible.


        The sign will be omitted unless the number is negative.


        Examples:


        1.5 will be serialized as "1500m"

        1.5Gi will be serialized as "1536Mi"


        Note that the quantity will NEVER be internally represented by a

        floating point number. That is the whole point of this exercise.


        Non-canonical values will still parse as long as they are well formed,

        but will be re-emitted in their canonical form. (So always use canonical

        form, or don''t diff.)


        This format is intended to make it difficult to use these numbers without

        writing some sort of special handling code in the hopes that that will

        cause implementors to also use a fixed point implementation.


        +protobuf=true

        +protobuf.embed=string

        +protobuf.options.marshal=false

        +protobuf.options.(gogoproto.goproto_stringer)=false

        +k8s:deepcopy-gen=true

        +k8s:openapi-gen=true'
      title: 'Quantity is a fixed-point representation of a number.

        It provides convenient marshaling/unmarshaling in JSON and YAML,

        in addition to String() and AsInt64() accessors.'
      type: object
    Error:
      description: Error Error
      properties:
        code:
          description: Code
          format: int64
          type: integer
        message:
          description: Message
          type: string
        requestId:
          description: RequestId
          type: string
      type: object
    ExplainerSpec:
      description: Either ModelRef or PipelineRef is required
      properties:
        modelRef:
          description: 'one of the following need to be set for blackbox explainers

            Reference to Model

            +optional'
          type: string
        pipelineRef:
          description: 'Reference to Pipeline

            +optional'
          type: string
        type:
          description: type of explainer
          type: string
      type: object
    SeldonModel:
      properties:
        apiVersion:
          type: string
        kind:
          type: string
        metadata:
          $ref: '#/components/schemas/ObjectMeta'
        spec:
          $ref: '#/components/schemas/ModelSpec'
        status:
          $ref: '#/components/schemas/ModelStatus'
      type: object
    FieldsV1:
      description: 'Each key is either a ''.'' representing the field itself, and will always map to an empty set,

        or a string representing a sub-field or item. The string will follow one of these four formats:

        ''f:<name>'', where <name> is the name of a field in a struct, or key in a map

        ''v:<value>'', where <value> is the exact json formatted value of a list item

        ''i:<index>'', where <index> is position of a item in a list

        ''k:<keys>'', where <keys> is a map of  a list item''s key fields to their unique values

        If a key maps to an empty Fields value, the field that key represents is part of the set.


        The exact format is defined in sigs.k8s.io/structured-merge-diff

        +protobuf.options.(gogoproto.goproto_stringer)=false'
      title: FieldsV1 stores a set of fields in a data structure like a Trie, in JSON format.
      type: object
    ManagedFieldsEntry:
      description: 'ManagedFieldsEntry is a workflow-id, a FieldSet and the group version of the resource

        that the fieldset applies to.'
      properties:
        apiVersion:
          description: 'APIVersion defines the version of this resource that this field set

            applies to. The format is "group/version" just like the top-level

            APIVersion field. It is necessary to track the version of a field

            set because it cannot be automatically converted.'
          type: string
        fieldsType:
          description: 'FieldsType is the discriminator for the different fields format and version.

            There is currently only one possible value: "FieldsV1"'
          type: string
        fieldsV1:
          $ref: '#/components/schemas/FieldsV1'
        manager:
          description: Manager is an identifier of the workflow managing these fields.
          type: string
        operation:
          $ref: '#/components/schemas/ManagedFieldsOperationType'
        subresource:
          description: 'Subresource is the name of the subresource used to update that object, or

            empty string if the object was updated through the main resource. The

            value of this field is used to distinguish between managers, even if they

            share the same name. For example, a status update will be distinct from a

            regular update using the same manager name.

            Note that the APIVersion field is not related to the Subresource field and

            it always corresponds to the version of the main resource.'
          type: string
        time:
          description: 'Time is the timestamp of when the ManagedFields entry was added. The

            timestamp will also be updated if a field is added, the manager

            changes any of the owned fields value or removes a field. The

            timestamp does not update when a field is removed from the entry

            because another manager took it over.

            +optional'
          type: string
      type: object
    ModelSpec:
      description: ModelSpec defines the desired state of Model
      properties:
        artifactVersion:
          description: 'Artifact Version

            A v2 version folder to select from storage bucket

            +optional'
          format: uint32
          type: integer
        dedicated:
          description: 'Dedicated server exclusive to this model

            Default false'
          type: boolean
        explainer:
          $ref: '#/components/schemas/ExplainerSpec'
        logger:
          $ref: '#/components/schemas/LoggingSpec'
        maxReplicas:
          description: Max number of replicas - default equal to 0
          format: int32
          type: integer
        memory:
          $ref: '#/components/schemas/Quantity'
        minReplicas:
          description: Min number of replicas - default equal to 0
          format: int32
          type: integer
        modelType:
          description: 'Model type

            +optional'
          type: string
        parameters:
          description: Parameters to load with model
          items:
            $ref: '#/components/schemas/ParameterSpec'
          type: array
        preloaded:
          description: 'Model already loaded on a server. Don''t schedule.

            Default false'
          type: boolean
        replicas:
          description: Number of replicas - default 1
          format: int32
          type: integer
        requirements:
          description: List of extra requirements for this model to be loaded on a compatible server
          items:
            type: string
          type: array
        schemaUri:
          description: 'Schema URI

            +optional'
          type: string
        secretName:
          description: 'Secret name

            +optional'
          type: string
        server:
          description: 'Name of the Server to deploy this artifact

            +optional'
          type: string
        storageUri:
          description: Storage URI for the model repository
          type: string
      type: object
    UID:
      description: 'UID is a type that holds unique ID values, including UUIDs.  Because we

        don''t ONLY use UUIDs, this is an alias to string.  Being a type captures

        intent and helps make sure that UIDs and names do not get conflated.'
      type: string
    ObjectMeta:
      description: 'ObjectMeta is metadata that all persisted resources must have, which includes all objects

        users must create.'
      properties:
        annotations:
          additionalProperties:
            type: string
          description: 'Annotations is an unstructured key value map stored with a resource that may be

            set by external tools to store and retrieve arbitrary metadata. They are not

            queryable and should be preserved when modifying objects.

            More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations

            +optional'
          type: object
        creationTimestamp:
          description: 'CreationTimestamp is a timestamp representing the server time when this object was

            created. It is not guaranteed to be set in happens-before order across separate operations.

            Clients may not set this value. It is represented in RFC3339 form and is in UTC.


            Populated by the system.

            Read-only.

            Null for lists.

            More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#metadata

            +optional'
          type: string
        deletionGracePeriodSeconds:
          description: 'Number of seconds allowed for this object to gracefully terminate before

            it will be removed from the system. Only set when deletionTimestamp is also set.

            May only be shortened.

            Read-only.

            +optional'
          format: int64
          type: integer
        deletionTimestamp:
          description: 'DeletionTimestamp is RFC 3339 date and time at which this resource will be deleted. This

            field is set by the server when a graceful deletion is requested by the user, and is not

            directly settable by a client. The resource is expected to be deleted (no longer visible

            from resource lists, and not reachable by name) after the time in this field, once the

            finalizers list is empty. As long as the finalizers list contains items, deletion is blocked.

            Once the deletionTimestamp is set, this value may not be unset or be set further into the

            future, although it may be shortened or the resource may be deleted prior to this time.

            For example, a user may request that a pod is deleted in 30 seconds. The Kubelet will react

            by sending a graceful termination signal to the containers in the pod. After that 30 seconds,

            the Kubelet will send a hard termination signal (SIGKILL) to the container and after cleanup,

            remove the pod from the API. In the presence of network partitions, this object may still

            exist after this timestamp, until an administrator or automated process can determine the

            resource is fully terminated.

            If not set, graceful deletion of the object has not been requested.


            Populated by the system when a graceful deletion is requested.

            Read-only.

            More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#metadata

            +optional'
          type: string
        finalizers:
          description: 'Must be empty before the object is deleted from the registry. Each entry

            is an identifier for the responsible component that will remove the entry

            from the list. If the deletionTimestamp of the object is non-nil, entries

            in this list can only be removed.

            Finalizers may be processed and removed in any order.  Order is NOT enforced

            because it introduces significant risk of stuck finalizers.

            finalizers is a shared field, any actor with permission can reorder it.

            If the finalizer list is processed in order, then this can lead to a situation

            in which the component responsible for the first finalizer in the list is

            waiting for a signal (field value, external system, or other) produced by a

            component responsible for a finalizer later in the list, resulting in a deadlock.

            Without enforced ordering finalizers are free to order amongst themselves and

            are not vulnerable to ordering changes in the list.

            +optional

            +patchStrategy=merge'
          items:
            type: string
          type: array
        generateName:
          description: 'GenerateName is an optional prefix, used by the server, to generate a unique

            name ONLY IF the Name field has not been provided.

            If this field is used, the name returned to the client will be different

            than the name passed. This value will also be combined with a unique suffix.

            The provided value has the same validation rules as the Name field,

            and may be truncated by the length of the suffix required to make the value

            unique on the server.


            If this field is specified and the generated name exists, the server will return a 409.


            Applied only if Name is not specified.

            More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#idempotency

            +optional'
          type: string
        generation:
          description: 'A sequence number representing a specific generation of the desired state.

            Populated by the system. Read-only.

            +optional'
          format: int64
          type: integer
        labels:
          additionalProperties:
            type: string
          description: 'Map of string keys and values that can be used to organize and categorize

            (scope and select) objects. May match selectors of replication controllers

            and services.

            More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels

            +optional'
          type: object
        managedFields:
          description: 'ManagedFields maps workflow-id and version to the set of fields

            that are managed by that workflow. This is mostly for internal

            housekeeping, and users typically shouldn''t need to set or

            understand this field. A workflow can be the user''s name, a

            controller''s name, or the name of a specific apply path like

            "ci-cd". The set of fields is always in the version that the

            workflow used when modifying the object.


            +optional'
          items:
            $ref: '#/components/schemas/ManagedFieldsEntry'
          type: array
        name:
          description: 'Name must be unique within a namespace. Is required when creating resources, although

            some resources may allow a client to request the generation of an appropriate name

            automatically. Name is primarily intended for creation idempotence and configuration

            definition.

            Cannot be updated.

            More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names#names

            +optional'
          type: string
        namespace:
          description: 'Namespace defines the space within which each name must be unique. An empty namespace is

            equivalent to the "default" namespace, but "default" is the canonical representation.

            Not all objects are required to be scoped to a namespace - the value of this field for

            those objects will be empty.


            Must be a DNS_LABEL.

            Cannot be updated.

            More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces

            +optional'
          type: string
        ownerReferences:
          description: 'List of objects depended by this object. If ALL objects in the list have

            been deleted, this object will be garbage collected. If this object is managed by a controller,

            then an entry in this list will point to this controller, with the controller field set to true.

            There cannot be more than one managing controller.

            +optional

            +patchMergeKey=uid

            +patchStrategy=merge'
          items:
            $ref: '#/components/schemas/OwnerReference'
          type: array
        resourceVersion:
          description: 'An opaque value that represents the internal version of this object that can

            be used by clients to determine when objects have changed. May be used for optimistic

            concurrency, change detection, and the watch operation on a resource or set of resources.

            Clients must treat these values as opaque and passed unmodified back to the server.

            They may only be valid for a particular resource or set of resources.


            Populated by the system.

            Read-only.

            Value must be treated as opaque by clients and .

            More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency

            +optional'
          type: string
        selfLink:
          description: 'Deprecated: selfLink is a legacy read-only field that is no longer populated by the system.

            +optional'
          type: string
        uid:
          $ref: '#/components/schemas/UID'
      type: object
    OwnerReference:
      description: 'OwnerReference contains enough information to let you identify an owning

        object. An owning object must be in the same namespace as the dependent, or

        be cluster-scoped, so there is no namespace field.

        +structType=atomic'
      properties:
        apiVersion:
          description: API version of the referent.
          type: string
        blockOwnerDeletion:
          description: 'If true, AND if the owner has the "foregroundDeletion" finalizer, then

            the owner cannot be deleted from the key-value store until this

            reference is removed.

            See https://kubernetes.io/docs/concepts/architecture/garbage-collection/#foreground-deletion

            for how the garbage collector interacts with this field and enforces the foreground deletion.

            Defaults to false.

            To set this field, a user needs "delete" permission of the owner,

            otherwise 422 (Unprocessable Entity) will be returned.

            +optional'
          type: boolean
        controller:
          description: 'If true, this reference points to the managing controller.

            +optional'
          type: boolean
        kind:
          description: 'Kind of the referent.

            More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        name:
          description: 'Name of the referent.

            More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names#names'
          type: string
        uid:
          $ref: '#/components/schemas/UID'
      type: object
    ParameterSpec:
      properties:
        name:
          type: string
        value:
          type: string
      type: object
    ManagedFieldsOperationType:
      title: ManagedFieldsOperationType is the type of operation which lead to a ManagedFieldsEntry being created.
      type: string
    ModelStatus:
      description: ModelStatus defines the observed state of Model
      properties:
        annotations:
          additionalProperties:
            type: string
          description: 'Annotations is additional Status fields for the Resource to save some

            additional State as well as convey more information to the user. This is

            roughly akin to Annotations on any k8s resource, just the reconciler conveying

            richer information outwards.'
          type: object
        conditions:
          $ref: '#/components/schemas/Conditions'
        observedGeneration:
          description: 'ObservedGeneration is the ''Generation'' of the Service that

            was last processed by the controller.

            +optional'
          format: int64
          type: integer
        replicas:
          description: Total number of replicas targeted by this model
          format: int32
          type: integer
      type: object
    Model:
      description: Model is the Schema for the models API
      properties:
        annotations:
          additionalProperties:
            type: string
          description: 'Annotations is an unstructured key value map stored with a resource that may be

            set by external tools to store and retrieve arbitrary metadata. They are not

            queryable and should be preserved when modifying objects.

            More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations

            +optional'
          type: object
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation of an object.

            Servers should convert recognized schemas to the latest internal value, and

            may reject unrecognized values.

            More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources

            +optional'
          type: string
        creationTimestamp:
          description: 'CreationTimestamp is a timestamp representing the server time when this object was

            created. It is not guaranteed to be set in happens-before order across separate operations.

            Clients may not set this value. It is represented in RFC3339 form and is in UTC.


            Populated by the system.

            Read-only.

            Null for lists.

            More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#metadata

            +optional'
          type: string
        deletionGracePeriodSeconds:
          description: 'Number of seconds allowed for this object to gracefully terminate before

            it will be removed from the system. Only set when deletionTimestamp is also set.

            May only be shortened.

            Read-only.

            +optional'
          format: int64
          type: integer
        deletionTimestamp:
          description: 'DeletionTimestamp is RFC 3339 date and time at which this resource will be deleted. This

            field is set by the server when a graceful deletion is requested by the user, and is not

            directly settable by a client. The resource is expected to be deleted (no longer visible

            from resource lists, and not reachable by name) after the time in this field, once the

            finalizers list is empty. As long as the finalizers list contains items, deletion is blocked.

            Once the deletionTimestamp is set, this value may not be unset or be set further into the

            future, although it may be shortened or the resource may be deleted prior to this time.

            For example, a user may request that a pod is deleted in 30 seconds. The Kubelet will react

            by sending a graceful termination signal to the containers in the pod. After that 30 seconds,

            the Kubelet will send a hard termination signal (SIGKILL) to the container and after cleanup,

            remove the pod from the API. In the presence of network partitions, this object may still

            exist after this timestamp, until an administrator or automated process can determine the

            resource is fully terminated.

            If not set, graceful deletion of the object has not been requested.


            Populated by the system when a graceful deletion is requested.

            Read-only.

            More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#metadata

            +optional'
          type: string
        finalizers:
          description: 'Must be empty before the object is deleted from the registry. Each entry

            is an identifier for the responsible component that will remove the entry

            from the list. If the deletionTimestamp of the object is non-nil, entries

            in this list can only be removed.

            Finalizers may be processed and removed in any order.  Order is NOT enforced

            because it introduces significant risk of stuck finalizers.

            finalizers is a shared field, any actor with permission can reorder it.

            If the finalizer list is processed in order, then this can lead to a situation

            in which the component responsible for the first finalizer in the list is

            waiting for a signal (field value, external system, or other) produced by a

            component responsible for a finalizer later in the list, resulting in a deadlock.

            Without enforced ordering finalizers are free to order amongst themselves and

            are not vulnerable to ordering changes in the list.

            +optional

            +patchStrategy=merge'
          items:
            type: string
          type: array
        generateName:
          description: 'GenerateName is an optional prefix, used by the server, to generate a unique

            name ONLY IF the Name field has not been provided.

            If this field is used, the name returned to the client will be different

            than the name passed. This value will also be combined with a unique suffix.

            The provided value has the same validation rules as the Name field,

            and may be truncated by the length of the suffix required to make the value

            unique on the server.


            If this field is specified and the generated name exists, the server will return a 409.


            Applied only if Name is not specified.

            More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#idempotency

            +optional'
          type: string
        generation:
          description: 'A sequence number representing a specific generation of the desired state.

            Populated by the system. Read-only.

            +optional'
          format: int64
          type: integer
        kind:
          description: 'Kind is a string value representing the REST resource this object represents.

            Servers may infer this from the endpoint the client submits requests to.

            Cannot be updated.

            In CamelCase.

            More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds

            +optional'
          type: string
        labels:
          additionalProperties:
            type: string
          description: 'Map of string keys and values that can be used to organize and categorize

            (scope and select) objects. May match selectors of replication controllers

            and services.

            More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels

            +optional'
          type: object
        managedFields:
          description: 'ManagedFields maps workflow-id and version to the set of fields

            that are managed by that workflow. This is mostly for internal

            housekeeping, and users typically shouldn''t need to set or

            understand this field. A workflow can be the user''s name, a

            controller''s name, or the name of a specific apply path like

            "ci-cd". The set of fields is always in the version that the

            workflow used when modifying the object.


            +optional'
          items:
            $ref: '#/components/schemas/ManagedFieldsEntry'
          type: array
        name:
          description: 'Name must be unique within a namespace. Is required when creating resources, although

            some resources may allow a client to request the generation of an appropriate name

            automatically. Name is primarily intended for creation idempotence and configuration

            definition.

            Cannot be updated.

            More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names#names

            +optional'
          type: string
        namespace:
          description: 'Namespace defines the space within which each name must be unique. An empty namespace is

            equivalent to the "default" namespace, but "default" is the canonical representation.

            Not all objects are required to be scoped to a namespace - the value of this field for

            those objects will be empty.


            Must be a DNS_LABEL.

            Cannot be updated.

            More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces

            +optional'
          type: string
        ownerReferences:
          description: 'List of objects depended by this object. If ALL objects in the list have

            been deleted, this object will be garbage collected. If this object is managed by a controller,

            then an entry in this list will point to this controller, with the controller field set to true.

            There cannot be more than one managing controller.

            +optional

            +patchMergeKey=uid

            +patchStrategy=merge'
          items:
            $ref: '#/components/schemas/OwnerReference'
          type: array
        resourceVersion:
          description: 'An opaque value that represents the internal version of this object that can

            be used by clients to determine when objects have changed. May be used for optimistic

            concurrency, change detection, and the watch operation on a resource or set of resources.

            Clients must treat these values as opaque and passed unmodified back to the server.

            They may only be valid for a particular resource or set of resources.


            Populated by the system.

            Read-only.

            Value must be treated as opaque by clients and .

            More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency

            +optional'
          type: string
        selfLink:
          description: 'Deprecated: selfLink is a legacy read-only field that is no longer populated by the system.

            +optional'
          type: string
        spec:
          $ref: '#/components/schemas/ModelSpec'
        status:
          $ref: '#/components/schemas/ModelStatus'
        uid:
          $ref: '#/components/schemas/UID'
      type: object
    LoggingSpec:
      properties:
        percent:
          description: Percentage of payloads to log
          format: uint64
          type: integer
      type: object
    Conditions:
      $ref: '#/components/schemas/Conditions'
  responses:
    GenericResponse:
      description: Generic
      content:
        application/json:
          schema: {}
    ErrorDefault:
      description: ErrorDefault Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    SeldonModelResponse:
      description: Seldon Model
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SeldonModel'
  requestBodies:
    Model:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Model'
      description: Seldon Model
      required: true
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        password:
          tokenUrl: https://Y.Y.Y.Y
          scopes:
            email: ''
            groups: ''
            openid: ''
            profile: ''
