openapi: 3.0.0
info:
  description: 'API to interact and manage the lifecycle of your machine learning models

    deployed through Seldon Deploy.'
  title: Seldon Deploy AlertingService KubernetesResources API
  version: v1alpha1
servers:
- url: http://X.X.X.X/seldon-deploy/api/v1alpha1
- url: https://X.X.X.X/seldon-deploy/api/v1alpha1
security:
- OAuth2:
  - '[]'
tags:
- description: KubernetesResources APIs for Seldon Deploy
  name: KubernetesResources
paths:
  /namespaces/{namespace}/seldondeployments/{name}/resources:
    get:
      description: list objects of kind resource for Seldon Deployment
      operationId: ListSeldonDeploymentResources
      parameters:
      - description: Component differentiates between types of model (e.g. predictor, explainer... etc)
        in: query
        name: component
        schema:
          type: string
      - description: Name identifies a resource
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Namespace provides a logical grouping of resources
        in: path
        name: namespace
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/ResourceListResponse'
        '400':
          $ref: '#/components/responses/ErrorDefault'
        '405':
          $ref: '#/components/responses/ErrorDefault'
        '424':
          $ref: '#/components/responses/ErrorDefault'
        '500':
          $ref: '#/components/responses/ErrorDefault'
      tags:
      - KubernetesResources
components:
  schemas:
    HostAlias:
      description: 'HostAlias holds the mapping between IP and hostnames that will be injected as an entry in the

        pod''s hosts file.'
      properties:
        hostnames:
          description: Hostnames for the above IP address.
          items:
            type: string
          type: array
        ip:
          description: IP address of the host file entry.
          type: string
      type: object
    PersistentVolumeClaimVolumeSource:
      description: 'This volume finds the bound PV and mounts that volume for the pod. A

        PersistentVolumeClaimVolumeSource is, essentially, a wrapper around another

        type of volume that is owned by someone else (the system).'
      properties:
        claimName:
          description: 'claimName is the name of a PersistentVolumeClaim in the same namespace as the pod using this volume.

            More info: https://kubernetes.io/docs/concepts/storage/persistent-volumes#persistentvolumeclaims'
          type: string
        readOnly:
          description: 'readOnly Will force the ReadOnly setting in VolumeMounts.

            Default false.

            +optional'
          type: boolean
      title: PersistentVolumeClaimVolumeSource references the user's PVC in the same namespace.
      type: object
    ManagedFieldsEntry:
      description: 'ManagedFieldsEntry is a workflow-id, a FieldSet and the group version of the resource

        that the fieldset applies to.'
      properties:
        apiVersion:
          description: 'APIVersion defines the version of this resource that this field set

            applies to. The format is "group/version" just like the top-level

            APIVersion field. It is necessary to track the version of a field

            set because it cannot be automatically converted.'
          type: string
        fieldsType:
          description: 'FieldsType is the discriminator for the different fields format and version.

            There is currently only one possible value: "FieldsV1"'
          type: string
        fieldsV1:
          $ref: '#/components/schemas/FieldsV1'
        manager:
          description: Manager is an identifier of the workflow managing these fields.
          type: string
        operation:
          $ref: '#/components/schemas/ManagedFieldsOperationType'
        subresource:
          description: 'Subresource is the name of the subresource used to update that object, or

            empty string if the object was updated through the main resource. The

            value of this field is used to distinguish between managers, even if they

            share the same name. For example, a status update will be distinct from a

            regular update using the same manager name.

            Note that the APIVersion field is not related to the Subresource field and

            it always corresponds to the version of the main resource.'
          type: string
        time:
          description: 'Time is the timestamp of when the ManagedFields entry was added. The

            timestamp will also be updated if a field is added, the manager

            changes any of the owned fields value or removes a field. The

            timestamp does not update when a field is removed from the entry

            because another manager took it over.

            +optional'
          type: string
      type: object
    ResourceRequirements:
      properties:
        claims:
          description: 'Claims lists the names of resources, defined in spec.resourceClaims,

            that are used by this container.


            This is an alpha field and requires enabling the

            DynamicResourceAllocation feature gate.


            This field is immutable. It can only be set for containers.


            +listType=map

            +listMapKey=name

            +featureGate=DynamicResourceAllocation

            +optional'
          items:
            $ref: '#/components/schemas/ResourceClaim'
          type: array
        limits:
          $ref: '#/components/schemas/ResourceList'
        requests:
          $ref: '#/components/schemas/ResourceList'
      title: ResourceRequirements describes the compute resource requirements.
      type: object
    DeploymentStatus:
      properties:
        availableReplicas:
          format: int32
          type: integer
        description:
          type: string
        explainerFor:
          type: string
        name:
          type: string
        replicas:
          format: int32
          type: integer
        status:
          type: string
      type: object
    ContainerStateRunning:
      properties:
        startedAt:
          description: 'Time at which the container was last (re-)started

            +optional'
          type: string
      title: ContainerStateRunning is a running state of a container.
      type: object
    Capabilities:
      properties:
        add:
          description: 'Added capabilities

            +optional'
          items:
            $ref: '#/components/schemas/Capability'
          type: array
        drop:
          description: 'Removed capabilities

            +optional'
          items:
            $ref: '#/components/schemas/Capability'
          type: array
      title: Adds and removes POSIX capabilities from running containers.
      type: object
    OwnerReference:
      description: 'OwnerReference contains enough information to let you identify an owning

        object. An owning object must be in the same namespace as the dependent, or

        be cluster-scoped, so there is no namespace field.

        +structType=atomic'
      properties:
        apiVersion:
          description: API version of the referent.
          type: string
        blockOwnerDeletion:
          description: 'If true, AND if the owner has the "foregroundDeletion" finalizer, then

            the owner cannot be deleted from the key-value store until this

            reference is removed.

            See https://kubernetes.io/docs/concepts/architecture/garbage-collection/#foreground-deletion

            for how the garbage collector interacts with this field and enforces the foreground deletion.

            Defaults to false.

            To set this field, a user needs "delete" permission of the owner,

            otherwise 422 (Unprocessable Entity) will be returned.

            +optional'
          type: boolean
        controller:
          description: 'If true, this reference points to the managing controller.

            +optional'
          type: boolean
        kind:
          description: 'Kind of the referent.

            More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        name:
          description: 'Name of the referent.

            More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names#names'
          type: string
        uid:
          $ref: '#/components/schemas/UID'
      type: object
    PodStatus:
      description: 'PodStatus represents information about the status of a pod. Status may trail the actual

        state of a system, especially if the node that hosts the pod cannot contact the control

        plane.'
      properties:
        conditions:
          description: 'Current service state of pod.

            More info: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle#pod-conditions

            +optional

            +patchMergeKey=type

            +patchStrategy=merge'
          items:
            $ref: '#/components/schemas/PodCondition'
          type: array
        containerStatuses:
          description: 'The list has one entry per container in the manifest.

            More info: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle#pod-and-container-status

            +optional'
          items:
            $ref: '#/components/schemas/ContainerStatus'
          type: array
        ephemeralContainerStatuses:
          description: 'Status for any ephemeral containers that have run in this pod.

            +optional'
          items:
            $ref: '#/components/schemas/ContainerStatus'
          type: array
        hostIP:
          description: 'hostIP holds the IP address of the host to which the pod is assigned. Empty if the pod has not started yet.

            A pod can be assigned to a node that has a problem in kubelet which in turns mean that HostIP will

            not be updated even if there is a node is assigned to pod

            +optional'
          type: string
        hostIPs:
          description: 'hostIPs holds the IP addresses allocated to the host. If this field is specified, the first entry must

            match the hostIP field. This list is empty if the pod has not started yet.

            A pod can be assigned to a node that has a problem in kubelet which in turns means that HostIPs will

            not be updated even if there is a node is assigned to this pod.

            +optional

            +patchStrategy=merge

            +patchMergeKey=ip

            +listType=atomic'
          items:
            $ref: '#/components/schemas/HostIP'
          type: array
        initContainerStatuses:
          description: 'The list has one entry per init container in the manifest. The most recent successful

            init container will have ready = true, the most recently started container will have

            startTime set.

            More info: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle#pod-and-container-status'
          items:
            $ref: '#/components/schemas/ContainerStatus'
          type: array
        message:
          description: 'A human readable message indicating details about why the pod is in this condition.

            +optional'
          type: string
        nominatedNodeName:
          description: 'nominatedNodeName is set only when this pod preempts other pods on the node, but it cannot be

            scheduled right away as preemption victims receive their graceful termination periods.

            This field does not guarantee that the pod will be scheduled on this node. Scheduler may decide

            to place the pod elsewhere if other nodes become available sooner. Scheduler may also decide to

            give the resources on this node to a higher priority pod that is created after preemption.

            As a result, this field may be different than PodSpec.nodeName when the pod is

            scheduled.

            +optional'
          type: string
        phase:
          $ref: '#/components/schemas/PodPhase'
        podIP:
          description: 'podIP address allocated to the pod. Routable at least within the cluster.

            Empty if not yet allocated.

            +optional'
          type: string
        podIPs:
          description: 'podIPs holds the IP addresses allocated to the pod. If this field is specified, the 0th entry must

            match the podIP field. Pods may be allocated at most 1 value for each of IPv4 and IPv6. This list

            is empty if no IPs have been allocated yet.

            +optional

            +patchStrategy=merge

            +patchMergeKey=ip'
          items:
            $ref: '#/components/schemas/PodIP'
          type: array
        qosClass:
          $ref: '#/components/schemas/PodQOSClass'
        reason:
          description: 'A brief CamelCase message indicating details about why the pod is in this state.

            e.g. ''Evicted''

            +optional'
          type: string
        resize:
          $ref: '#/components/schemas/PodResizeStatus'
        resourceClaimStatuses:
          description: 'Status of resource claims.

            +patchMergeKey=name

            +patchStrategy=merge,retainKeys

            +listType=map

            +listMapKey=name

            +featureGate=DynamicResourceAllocation

            +optional'
          items:
            $ref: '#/components/schemas/PodResourceClaimStatus'
          type: array
        startTime:
          description: 'RFC 3339 date and time at which the object was acknowledged by the Kubelet.

            This is before the Kubelet pulled the container image(s) for the pod.

            +optional'
          type: string
      type: object
    PodSecurityContext:
      description: 'Some fields are also present in container.securityContext.  Field values of

        container.securityContext take precedence over field values of PodSecurityContext.'
      properties:
        fsGroup:
          description: 'A special supplemental group that applies to all containers in a pod.

            Some volume types allow the Kubelet to change the ownership of that volume

            to be owned by the pod:


            1. The owning GID will be the FSGroup

            2. The setgid bit is set (new files created in the volume will be owned by FSGroup)

            3. The permission bits are OR''d with rw-rw----


            If unset, the Kubelet will not modify the ownership and permissions of any volume.

            Note that this field cannot be set when spec.os.name is windows.

            +optional'
          format: int64
          type: integer
        fsGroupChangePolicy:
          $ref: '#/components/schemas/PodFSGroupChangePolicy'
        runAsGroup:
          description: 'The GID to run the entrypoint of the container process.

            Uses runtime default if unset.

            May also be set in SecurityContext.  If set in both SecurityContext and

            PodSecurityContext, the value specified in SecurityContext takes precedence

            for that container.

            Note that this field cannot be set when spec.os.name is windows.

            +optional'
          format: int64
          type: integer
        runAsNonRoot:
          description: 'Indicates that the container must run as a non-root user.

            If true, the Kubelet will validate the image at runtime to ensure that it

            does not run as UID 0 (root) and fail to start the container if it does.

            If unset or false, no such validation will be performed.

            May also be set in SecurityContext.  If set in both SecurityContext and

            PodSecurityContext, the value specified in SecurityContext takes precedence.

            +optional'
          type: boolean
        runAsUser:
          description: 'The UID to run the entrypoint of the container process.

            Defaults to user specified in image metadata if unspecified.

            May also be set in SecurityContext.  If set in both SecurityContext and

            PodSecurityContext, the value specified in SecurityContext takes precedence

            for that container.

            Note that this field cannot be set when spec.os.name is windows.

            +optional'
          format: int64
          type: integer
        seLinuxOptions:
          $ref: '#/components/schemas/SELinuxOptions'
        seccompProfile:
          $ref: '#/components/schemas/SeccompProfile'
        supplementalGroups:
          description: 'A list of groups applied to the first process run in each container, in addition

            to the container''s primary GID, the fsGroup (if specified), and group memberships

            defined in the container image for the uid of the container process. If unspecified,

            no additional groups are added to any container. Note that group memberships

            defined in the container image for the uid of the container process are still effective,

            even if they are not included in this list.

            Note that this field cannot be set when spec.os.name is windows.

            +optional'
          items:
            format: int64
            type: integer
          type: array
        sysctls:
          description: 'Sysctls hold a list of namespaced sysctls used for the pod. Pods with unsupported

            sysctls (by the container runtime) might fail to launch.

            Note that this field cannot be set when spec.os.name is windows.

            +optional'
          items:
            $ref: '#/components/schemas/Sysctl'
          type: array
        windowsOptions:
          $ref: '#/components/schemas/WindowsSecurityContextOptions'
      title: PodSecurityContext holds pod-level security attributes and common container settings.
      type: object
    AzureDataDiskKind:
      description: +enum
      type: string
    DeploymentStrategy:
      properties:
        rollingUpdate:
          $ref: '#/components/schemas/RollingUpdateDeployment'
        type:
          $ref: '#/components/schemas/DeploymentStrategyType'
      title: DeploymentStrategy describes how to replace existing pods with new ones.
      type: object
    PodSpec:
      properties:
        activeDeadlineSeconds:
          description: 'Optional duration in seconds the pod may be active on the node relative to

            StartTime before the system will actively try to mark it failed and kill associated containers.

            Value must be a positive integer.

            +optional'
          format: int64
          type: integer
        affinity:
          $ref: '#/components/schemas/Affinity'
        automountServiceAccountToken:
          description: 'AutomountServiceAccountToken indicates whether a service account token should be automatically mounted.

            +optional'
          type: boolean
        containers:
          description: 'List of containers belonging to the pod.

            Containers cannot currently be added or removed.

            There must be at least one container in a Pod.

            Cannot be updated.

            +patchMergeKey=name

            +patchStrategy=merge'
          items:
            $ref: '#/components/schemas/Container'
          type: array
        dnsConfig:
          $ref: '#/components/schemas/PodDNSConfig'
        dnsPolicy:
          $ref: '#/components/schemas/DNSPolicy'
        enableServiceLinks:
          description: 'EnableServiceLinks indicates whether information about services should be injected into pod''s

            environment variables, matching the syntax of Docker links.

            Optional: Defaults to true.

            +optional'
          type: boolean
        ephemeralContainers:
          description: 'List of ephemeral containers run in this pod. Ephemeral containers may be run in an existing

            pod to perform user-initiated actions such as debugging. This list cannot be specified when

            creating a pod, and it cannot be modified by updating the pod spec. In order to add an

            ephemeral container to an existing pod, use the pod''s ephemeralcontainers subresource.

            +optional

            +patchMergeKey=name

            +patchStrategy=merge'
          items:
            $ref: '#/components/schemas/EphemeralContainer'
          type: array
        hostAliases:
          description: 'HostAliases is an optional list of hosts and IPs that will be injected into the pod''s hosts

            file if specified. This is only valid for non-hostNetwork pods.

            +optional

            +patchMergeKey=ip

            +patchStrategy=merge'
          items:
            $ref: '#/components/schemas/HostAlias'
          type: array
        hostIPC:
          description: 'Use the host''s ipc namespace.

            Optional: Default to false.

            +k8s:conversion-gen=false

            +optional'
          type: boolean
        hostNetwork:
          description: 'Host networking requested for this pod. Use the host''s network namespace.

            If this option is set, the ports that will be used must be specified.

            Default to false.

            +k8s:conversion-gen=false

            +optional'
          type: boolean
        hostPID:
          description: 'Use the host''s pid namespace.

            Optional: Default to false.

            +k8s:conversion-gen=false

            +optional'
          type: boolean
        hostUsers:
          description: 'Use the host''s user namespace.

            Optional: Default to true.

            If set to true or not present, the pod will be run in the host user namespace, useful

            for when the pod needs a feature only available to the host user namespace, such as

            loading a kernel module with CAP_SYS_MODULE.

            When set to false, a new userns is created for the pod. Setting false is useful for

            mitigating container breakout vulnerabilities even allowing users to run their

            containers as root without actually having root privileges on the host.

            This field is alpha-level and is only honored by servers that enable the UserNamespacesSupport feature.

            +k8s:conversion-gen=false

            +optional'
          type: boolean
        hostname:
          description: 'Specifies the hostname of the Pod

            If not specified, the pod''s hostname will be set to a system-defined value.

            +optional'
          type: string
        imagePullSecrets:
          description: 'ImagePullSecrets is an optional list of references to secrets in the same namespace to use for pulling any of the images used by this PodSpec.

            If specified, these secrets will be passed to individual puller implementations for them to use.

            More info: https://kubernetes.io/docs/concepts/containers/images#specifying-imagepullsecrets-on-a-pod

            +optional

            +patchMergeKey=name

            +patchStrategy=merge'
          items:
            $ref: '#/components/schemas/LocalObjectReference'
          type: array
        initContainers:
          description: 'List of initialization containers belonging to the pod.

            Init containers are executed in order prior to containers being started. If any

            init container fails, the pod is considered to have failed and is handled according

            to its restartPolicy. The name for an init container or normal container must be

            unique among all containers.

            Init containers may not have Lifecycle actions, Readiness probes, Liveness probes, or Startup probes.

            The resourceRequirements of an init container are taken into account during scheduling

            by finding the highest request/limit for each resource type, and then using the max of

            of that value or the sum of the normal containers. Limits are applied to init containers

            in a similar fashion.

            Init containers cannot currently be added or removed.

            Cannot be updated.

            More info: https://kubernetes.io/docs/concepts/workloads/pods/init-containers/

            +patchMergeKey=name

            +patchStrategy=merge'
          items:
            $ref: '#/components/schemas/Container'
          type: array
        nodeName:
          description: 'NodeName is a request to schedule this pod onto a specific node. If it is non-empty,

            the scheduler simply schedules this pod onto that node, assuming that it fits resource

            requirements.

            +optional'
          type: string
        nodeSelector:
          additionalProperties:
            type: string
          description: 'NodeSelector is a selector which must be true for the pod to fit on a node.

            Selector which must match a node''s labels for the pod to be scheduled on that node.

            More info: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/

            +optional

            +mapType=atomic'
          type: object
        os:
          $ref: '#/components/schemas/PodOS'
        overhead:
          $ref: '#/components/schemas/ResourceList'
        preemptionPolicy:
          $ref: '#/components/schemas/PreemptionPolicy'
        priority:
          description: 'The priority value. Various system components use this field to find the

            priority of the pod. When Priority Admission Controller is enabled, it

            prevents users from setting this field. The admission controller populates

            this field from PriorityClassName.

            The higher the value, the higher the priority.

            +optional'
          format: int32
          type: integer
        priorityClassName:
          description: 'If specified, indicates the pod''s priority. "system-node-critical" and

            "system-cluster-critical" are two special keywords which indicate the

            highest priorities with the former being the highest priority. Any other

            name must be defined by creating a PriorityClass object with that name.

            If not specified, the pod priority will be default or zero if there is no

            default.

            +optional'
          type: string
        readinessGates:
          description: 'If specified, all readiness gates will be evaluated for pod readiness.

            A pod is ready when all its containers are ready AND

            all conditions specified in the readiness gates have status equal to "True"

            More info: https://git.k8s.io/enhancements/keps/sig-network/580-pod-readiness-gates

            +optional'
          items:
            $ref: '#/components/schemas/PodReadinessGate'
          type: array
        resourceClaims:
          description: 'ResourceClaims defines which ResourceClaims must be allocated

            and reserved before the Pod is allowed to start. The resources

            will be made available to those containers which consume them

            by name.


            This is an alpha field and requires enabling the

            DynamicResourceAllocation feature gate.


            This field is immutable.


            +patchMergeKey=name

            +patchStrategy=merge,retainKeys

            +listType=map

            +listMapKey=name

            +featureGate=DynamicResourceAllocation

            +optional'
          items:
            $ref: '#/components/schemas/PodResourceClaim'
          type: array
        restartPolicy:
          $ref: '#/components/schemas/RestartPolicy'
        runtimeClassName:
          description: 'RuntimeClassName refers to a RuntimeClass object in the node.k8s.io group, which should be used

            to run this pod.  If no RuntimeClass resource matches the named class, the pod will not be run.

            If unset or empty, the "legacy" RuntimeClass will be used, which is an implicit class with an

            empty definition that uses the default runtime handler.

            More info: https://git.k8s.io/enhancements/keps/sig-node/585-runtime-class

            +optional'
          type: string
        schedulerName:
          description: 'If specified, the pod will be dispatched by specified scheduler.

            If not specified, the pod will be dispatched by default scheduler.

            +optional'
          type: string
        schedulingGates:
          description: 'SchedulingGates is an opaque list of values that if specified will block scheduling the pod.

            If schedulingGates is not empty, the pod will stay in the SchedulingGated state and the

            scheduler will not attempt to schedule the pod.


            SchedulingGates can only be set at pod creation time, and be removed only afterwards.


            This is a beta feature enabled by the PodSchedulingReadiness feature gate.


            +patchMergeKey=name

            +patchStrategy=merge

            +listType=map

            +listMapKey=name

            +featureGate=PodSchedulingReadiness

            +optional'
          items:
            $ref: '#/components/schemas/PodSchedulingGate'
          type: array
        securityContext:
          $ref: '#/components/schemas/PodSecurityContext'
        serviceAccount:
          description: 'DeprecatedServiceAccount is a depreciated alias for ServiceAccountName.

            Deprecated: Use serviceAccountName instead.

            +k8s:conversion-gen=false

            +optional'
          type: string
        serviceAccountName:
          description: 'ServiceAccountName is the name of the ServiceAccount to use to run this pod.

            More info: https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/

            +optional'
          type: string
        setHostnameAsFQDN:
          description: 'If true the pod''s hostname will be configured as the pod''s FQDN, rather than the leaf name (the default).

            In Linux containers, this means setting the FQDN in the hostname field of the kernel (the nodename field of struct utsname).

            In Windows containers, this means setting the registry value of hostname for the registry key HKEY_LOCAL_MACHINE\\SYSTEM\\CurrentControlSet\\Services\\Tcpip\\Parameters to FQDN.

            If a pod does not have FQDN, this has no effect.

            Default to false.

            +optional'
          type: boolean
        shareProcessNamespace:
          description: 'Share a single process namespace between all of the containers in a pod.

            When this is set containers will be able to view and signal processes from other containers

            in the same pod, and the first process in each container will not be assigned PID 1.

            HostPID and ShareProcessNamespace cannot both be set.

            Optional: Default to false.

            +k8s:conversion-gen=false

            +optional'
          type: boolean
        subdomain:
          description: 'If specified, the fully qualified Pod hostname will be "<hostname>.<subdomain>.<pod namespace>.svc.<cluster domain>".

            If not specified, the pod will not have a domainname at all.

            +optional'
          type: string
        terminationGracePeriodSeconds:
          description: 'Optional duration in seconds the pod needs to terminate gracefully. May be decreased in delete request.

            Value must be non-negative integer. The value zero indicates stop immediately via

            the kill signal (no opportunity to shut down).

            If this value is nil, the default grace period will be used instead.

            The grace period is the duration in seconds after the processes running in the pod are sent

            a termination signal and the time when the processes are forcibly halted with a kill signal.

            Set this value longer than the expected cleanup time for your process.

            Defaults to 30 seconds.

            +optional'
          format: int64
          type: integer
        tolerations:
          description: 'If specified, the pod''s tolerations.

            +optional'
          items:
            $ref: '#/components/schemas/Toleration'
          type: array
        topologySpreadConstraints:
          description: 'TopologySpreadConstraints describes how a group of pods ought to spread across topology

            domains. Scheduler will schedule pods in a way which abides by the constraints.

            All topologySpreadConstraints are ANDed.

            +optional

            +patchMergeKey=topologyKey

            +patchStrategy=merge

            +listType=map

            +listMapKey=topologyKey

            +listMapKey=whenUnsatisfiable'
          items:
            $ref: '#/components/schemas/TopologySpreadConstraint'
          type: array
        volumes:
          description: 'List of volumes that can be mounted by containers belonging to the pod.

            More info: https://kubernetes.io/docs/concepts/storage/volumes

            +optional

            +patchMergeKey=name

            +patchStrategy=merge,retainKeys'
          items:
            $ref: '#/components/schemas/Volume'
          type: array
      title: PodSpec is a description of a pod.
      type: object
    ConditionStatus:
      type: string
    ClaimSource:
      description: 'Exactly one of these fields should be set.  Consumers of this type must

        treat an empty object as if it has an unknown value.'
      properties:
        resourceClaimName:
          description: 'ResourceClaimName is the name of a ResourceClaim object in the same

            namespace as this pod.'
          type: string
        resourceClaimTemplateName:
          description: 'ResourceClaimTemplateName is the name of a ResourceClaimTemplate

            object in the same namespace as this pod.


            The template will be used to create a new ResourceClaim, which will

            be bound to this pod. When this pod is deleted, the ResourceClaim

            will also be deleted. The pod name and resource name, along with a

            generated component, will be used to form a unique name for the

            ResourceClaim, which will be recorded in pod.status.resourceClaimStatuses.


            This field is immutable and no changes will be made to the

            corresponding ResourceClaim by the control plane after creating the

            ResourceClaim.'
          type: string
      title: ClaimSource describes a reference to a ResourceClaim.
      type: object
    Deployment:
      properties:
        annotations:
          additionalProperties:
            type: string
          description: 'Annotations is an unstructured key value map stored with a resource that may be

            set by external tools to store and retrieve arbitrary metadata. They are not

            queryable and should be preserved when modifying objects.

            More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations

            +optional'
          type: object
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation of an object.

            Servers should convert recognized schemas to the latest internal value, and

            may reject unrecognized values.

            More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources

            +optional'
          type: string
        creationTimestamp:
          description: 'CreationTimestamp is a timestamp representing the server time when this object was

            created. It is not guaranteed to be set in happens-before order across separate operations.

            Clients may not set this value. It is represented in RFC3339 form and is in UTC.


            Populated by the system.

            Read-only.

            Null for lists.

            More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#metadata

            +optional'
          type: string
        deletionGracePeriodSeconds:
          description: 'Number of seconds allowed for this object to gracefully terminate before

            it will be removed from the system. Only set when deletionTimestamp is also set.

            May only be shortened.

            Read-only.

            +optional'
          format: int64
          type: integer
        deletionTimestamp:
          description: 'DeletionTimestamp is RFC 3339 date and time at which this resource will be deleted. This

            field is set by the server when a graceful deletion is requested by the user, and is not

            directly settable by a client. The resource is expected to be deleted (no longer visible

            from resource lists, and not reachable by name) after the time in this field, once the

            finalizers list is empty. As long as the finalizers list contains items, deletion is blocked.

            Once the deletionTimestamp is set, this value may not be unset or be set further into the

            future, although it may be shortened or the resource may be deleted prior to this time.

            For example, a user may request that a pod is deleted in 30 seconds. The Kubelet will react

            by sending a graceful termination signal to the containers in the pod. After that 30 seconds,

            the Kubelet will send a hard termination signal (SIGKILL) to the container and after cleanup,

            remove the pod from the API. In the presence of network partitions, this object may still

            exist after this timestamp, until an administrator or automated process can determine the

            resource is fully terminated.

            If not set, graceful deletion of the object has not been requested.


            Populated by the system when a graceful deletion is requested.

            Read-only.

            More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#metadata

            +optional'
          type: string
        finalizers:
          description: 'Must be empty before the object is deleted from the registry. Each entry

            is an identifier for the responsible component that will remove the entry

            from the list. If the deletionTimestamp of the object is non-nil, entries

            in this list can only be removed.

            Finalizers may be processed and removed in any order.  Order is NOT enforced

            because it introduces significant risk of stuck finalizers.

            finalizers is a shared field, any actor with permission can reorder it.

            If the finalizer list is processed in order, then this can lead to a situation

            in which the component responsible for the first finalizer in the list is

            waiting for a signal (field value, external system, or other) produced by a

            component responsible for a finalizer later in the list, resulting in a deadlock.

            Without enforced ordering finalizers are free to order amongst themselves and

            are not vulnerable to ordering changes in the list.

            +optional

            +patchStrategy=merge'
          items:
            type: string
          type: array
        generateName:
          description: 'GenerateName is an optional prefix, used by the server, to generate a unique

            name ONLY IF the Name field has not been provided.

            If this field is used, the name returned to the client will be different

            than the name passed. This value will also be combined with a unique suffix.

            The provided value has the same validation rules as the Name field,

            and may be truncated by the length of the suffix required to make the value

            unique on the server.


            If this field is specified and the generated name exists, the server will return a 409.


            Applied only if Name is not specified.

            More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#idempotency

            +optional'
          type: string
        generation:
          description: 'A sequence number representing a specific generation of the desired state.

            Populated by the system. Read-only.

            +optional'
          format: int64
          type: integer
        kind:
          description: 'Kind is a string value representing the REST resource this object represents.

            Servers may infer this from the endpoint the client submits requests to.

            Cannot be updated.

            In CamelCase.

            More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds

            +optional'
          type: string
        labels:
          additionalProperties:
            type: string
          description: 'Map of string keys and values that can be used to organize and categorize

            (scope and select) objects. May match selectors of replication controllers

            and services.

            More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels

            +optional'
          type: object
        managedFields:
          description: 'ManagedFields maps workflow-id and version to the set of fields

            that are managed by that workflow. This is mostly for internal

            housekeeping, and users typically shouldn''t need to set or

            understand this field. A workflow can be the user''s name, a

            controller''s name, or the name of a specific apply path like

            "ci-cd". The set of fields is always in the version that the

            workflow used when modifying the object.


            +optional'
          items:
            $ref: '#/components/schemas/ManagedFieldsEntry'
          type: array
        name:
          description: 'Name must be unique within a namespace. Is required when creating resources, although

            some resources may allow a client to request the generation of an appropriate name

            automatically. Name is primarily intended for creation idempotence and configuration

            definition.

            Cannot be updated.

            More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names#names

            +optional'
          type: string
        namespace:
          description: 'Namespace defines the space within which each name must be unique. An empty namespace is

            equivalent to the "default" namespace, but "default" is the canonical representation.

            Not all objects are required to be scoped to a namespace - the value of this field for

            those objects will be empty.


            Must be a DNS_LABEL.

            Cannot be updated.

            More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces

            +optional'
          type: string
        ownerReferences:
          description: 'List of objects depended by this object. If ALL objects in the list have

            been deleted, this object will be garbage collected. If this object is managed by a controller,

            then an entry in this list will point to this controller, with the controller field set to true.

            There cannot be more than one managing controller.

            +optional

            +patchMergeKey=uid

            +patchStrategy=merge'
          items:
            $ref: '#/components/schemas/OwnerReference'
          type: array
        resourceVersion:
          description: 'An opaque value that represents the internal version of this object that can

            be used by clients to determine when objects have changed. May be used for optimistic

            concurrency, change detection, and the watch operation on a resource or set of resources.

            Clients must treat these values as opaque and passed unmodified back to the server.

            They may only be valid for a particular resource or set of resources.


            Populated by the system.

            Read-only.

            Value must be treated as opaque by clients and .

            More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency

            +optional'
          type: string
        selfLink:
          description: 'Deprecated: selfLink is a legacy read-only field that is no longer populated by the system.

            +optional'
          type: string
        spec:
          $ref: '#/components/schemas/DeploymentSpec'
        status:
          $ref: '#/components/schemas/DeploymentStatus'
        uid:
          $ref: '#/components/schemas/UID'
      title: Deployment enables declarative updates for Pods and ReplicaSets.
      type: object
    ContainerRestartPolicy:
      description: This may only be set for init containers and only allowed value is "Always".
      title: ContainerRestartPolicy is the restart policy for a single container.
      type: string
    EphemeralContainer:
      description: 'To add an ephemeral container, use the ephemeralcontainers subresource of an existing

        Pod. Ephemeral containers may not be removed or restarted.'
      properties:
        args:
          description: 'Arguments to the entrypoint.

            The image''s CMD is used if this is not provided.

            Variable references $(VAR_NAME) are expanded using the container''s environment. If a variable

            cannot be resolved, the reference in the input string will be unchanged. Double $$ are reduced

            to a single $, which allows for escaping the $(VAR_NAME) syntax: i.e. "$$(VAR_NAME)" will

            produce the string literal "$(VAR_NAME)". Escaped references will never be expanded, regardless

            of whether the variable exists or not. Cannot be updated.

            More info: https://kubernetes.io/docs/tasks/inject-data-application/define-command-argument-container/#running-a-command-in-a-shell

            +optional'
          items:
            type: string
          type: array
        command:
          description: 'Entrypoint array. Not executed within a shell.

            The image''s ENTRYPOINT is used if this is not provided.

            Variable references $(VAR_NAME) are expanded using the container''s environment. If a variable

            cannot be resolved, the reference in the input string will be unchanged. Double $$ are reduced

            to a single $, which allows for escaping the $(VAR_NAME) syntax: i.e. "$$(VAR_NAME)" will

            produce the string literal "$(VAR_NAME)". Escaped references will never be expanded, regardless

            of whether the variable exists or not. Cannot be updated.

            More info: https://kubernetes.io/docs/tasks/inject-data-application/define-command-argument-container/#running-a-command-in-a-shell

            +optional'
          items:
            type: string
          type: array
        env:
          description: 'List of environment variables to set in the container.

            Cannot be updated.

            +optional

            +patchMergeKey=name

            +patchStrategy=merge'
          items:
            $ref: '#/components/schemas/EnvVar'
          type: array
        envFrom:
          description: 'List of sources to populate environment variables in the container.

            The keys defined within a source must be a C_IDENTIFIER. All invalid keys

            will be reported as an event when the container is starting. When a key exists in multiple

            sources, the value associated with the last source will take precedence.

            Values defined by an Env with a duplicate key will take precedence.

            Cannot be updated.

            +optional'
          items:
            $ref: '#/components/schemas/EnvFromSource'
          type: array
        image:
          description: 'Container image name.

            More info: https://kubernetes.io/docs/concepts/containers/images'
          type: string
        imagePullPolicy:
          $ref: '#/components/schemas/PullPolicy'
        lifecycle:
          $ref: '#/components/schemas/Lifecycle'
        livenessProbe:
          $ref: '#/components/schemas/Probe'
        name:
          description: 'Name of the ephemeral container specified as a DNS_LABEL.

            This name must be unique among all containers, init containers and ephemeral containers.'
          type: string
        ports:
          description: 'Ports are not allowed for ephemeral containers.

            +optional

            +patchMergeKey=containerPort

            +patchStrategy=merge

            +listType=map

            +listMapKey=containerPort

            +listMapKey=protocol'
          items:
            $ref: '#/components/schemas/ContainerPort'
          type: array
        readinessProbe:
          $ref: '#/components/schemas/Probe'
        resizePolicy:
          description: 'Resources resize policy for the container.

            +featureGate=InPlacePodVerticalScaling

            +optional

            +listType=atomic'
          items:
            $ref: '#/components/schemas/ContainerResizePolicy'
          type: array
        resources:
          $ref: '#/components/schemas/ResourceRequirements'
        restartPolicy:
          $ref: '#/components/schemas/ContainerRestartPolicy'
        securityContext:
          $ref: '#/components/schemas/SecurityContext'
        startupProbe:
          $ref: '#/components/schemas/Probe'
        stdin:
          description: 'Whether this container should allocate a buffer for stdin in the container runtime. If this

            is not set, reads from stdin in the container will always result in EOF.

            Default is false.

            +optional'
          type: boolean
        stdinOnce:
          description: 'Whether the container runtime should close the stdin channel after it has been opened by

            a single attach. When stdin is true the stdin stream will remain open across multiple attach

            sessions. If stdinOnce is set to true, stdin is opened on container start, is empty until the

            first client attaches to stdin, and then remains open and accepts data until the client disconnects,

            at which time stdin is closed and remains closed until the container is restarted. If this

            flag is false, a container processes that reads from stdin will never receive an EOF.

            Default is false

            +optional'
          type: boolean
        targetContainerName:
          description: 'If set, the name of the container from PodSpec that this ephemeral container targets.

            The ephemeral container will be run in the namespaces (IPC, PID, etc) of this container.

            If not set then the ephemeral container uses the namespaces configured in the Pod spec.


            The container runtime must implement support for this feature. If the runtime does not

            support namespace targeting then the result of setting this field is undefined.

            +optional'
          type: string
        terminationMessagePath:
          description: 'Optional: Path at which the file to which the container''s termination message

            will be written is mounted into the container''s filesystem.

            Message written is intended to be brief final status, such as an assertion failure message.

            Will be truncated by the node if greater than 4096 bytes. The total message length across

            all containers will be limited to 12kb.

            Defaults to /dev/termination-log.

            Cannot be updated.

            +optional'
          type: string
        terminationMessagePolicy:
          $ref: '#/components/schemas/TerminationMessagePolicy'
        tty:
          description: 'Whether this container should allocate a TTY for itself, also requires ''stdin'' to be true.

            Default is false.

            +optional'
          type: boolean
        volumeDevices:
          description: 'volumeDevices is the list of block devices to be used by the container.

            +patchMergeKey=devicePath

            +patchStrategy=merge

            +optional'
          items:
            $ref: '#/components/schemas/VolumeDevice'
          type: array
        volumeMounts:
          description: 'Pod volumes to mount into the container''s filesystem. Subpath mounts are not allowed for ephemeral containers.

            Cannot be updated.

            +optional

            +patchMergeKey=mountPath

            +patchStrategy=merge'
          items:
            $ref: '#/components/schemas/VolumeMount'
          type: array
        workingDir:
          description: 'Container''s working directory.

            If not specified, the container runtime''s default will be used, which

            might be configured in the container image.

            Cannot be updated.

            +optional'
          type: string
      title: 'An EphemeralContainer is a temporary container that you may add to an existing Pod for

        user-initiated activities such as debugging. Ephemeral containers have no resource or

        scheduling guarantees, and they will not be restarted when they exit or when a Pod is

        removed or restarted. The kubelet may evict a Pod if an ephemeral container causes the

        Pod to exceed its resource allocation.'
      type: object
    HostPathVolumeSource:
      description: Host path volumes do not support ownership management or SELinux relabeling.
      properties:
        path:
          description: 'path of the directory on the host.

            If the path is a symlink, it will follow the link to the real path.

            More info: https://kubernetes.io/docs/concepts/storage/volumes#hostpath'
          type: string
        type:
          $ref: '#/components/schemas/HostPathType'
      title: Represents a host path mapped into a pod.
      type: object
    ServiceSpec:
      properties:
        allocateLoadBalancerNodePorts:
          description: 'allocateLoadBalancerNodePorts defines if NodePorts will be automatically

            allocated for services with type LoadBalancer.  Default is "true". It

            may be set to "false" if the cluster load-balancer does not rely on

            NodePorts.  If the caller requests specific NodePorts (by specifying a

            value), those requests will be respected, regardless of this field.

            This field may only be set for services with type LoadBalancer and will

            be cleared if the type is changed to any other type.

            +optional'
          type: boolean
        clusterIP:
          description: 'clusterIP is the IP address of the service and is usually assigned

            randomly. If an address is specified manually, is in-range (as per

            system configuration), and is not in use, it will be allocated to the

            service; otherwise creation of the service will fail. This field may not

            be changed through updates unless the type field is also being changed

            to ExternalName (which requires this field to be blank) or the type

            field is being changed from ExternalName (in which case this field may

            optionally be specified, as describe above).  Valid values are "None",

            empty string (""), or a valid IP address. Setting this to "None" makes a

            "headless service" (no virtual IP), which is useful when direct endpoint

            connections are preferred and proxying is not required.  Only applies to

            types ClusterIP, NodePort, and LoadBalancer. If this field is specified

            when creating a Service of type ExternalName, creation will fail. This

            field will be wiped when updating a Service to type ExternalName.

            More info: https://kubernetes.io/docs/concepts/services-networking/service/#virtual-ips-and-service-proxies

            +optional'
          type: string
        clusterIPs:
          description: 'ClusterIPs is a list of IP addresses assigned to this service, and are

            usually assigned randomly.  If an address is specified manually, is

            in-range (as per system configuration), and is not in use, it will be

            allocated to the service; otherwise creation of the service will fail.

            This field may not be changed through updates unless the type field is

            also being changed to ExternalName (which requires this field to be

            empty) or the type field is being changed from ExternalName (in which

            case this field may optionally be specified, as describe above).  Valid

            values are "None", empty string (""), or a valid IP address.  Setting

            this to "None" makes a "headless service" (no virtual IP), which is

            useful when direct endpoint connections are preferred and proxying is

            not required.  Only applies to types ClusterIP, NodePort, and

            LoadBalancer. If this field is specified when creating a Service of type

            ExternalName, creation will fail. This field will be wiped when updating

            a Service to type ExternalName.  If this field is not specified, it will

            be initialized from the clusterIP field.  If this field is specified,

            clients must ensure that clusterIPs[0] and clusterIP have the same

            value.


            This field may hold a maximum of two entries (dual-stack IPs, in either order).

            These IPs must correspond to the values of the ipFamilies field. Both

            clusterIPs and ipFamilies are governed by the ipFamilyPolicy field.

            More info: https://kubernetes.io/docs/concepts/services-networking/service/#virtual-ips-and-service-proxies

            +listType=atomic

            +optional'
          items:
            type: string
          type: array
        externalIPs:
          description: 'externalIPs is a list of IP addresses for which nodes in the cluster

            will also accept traffic for this service.  These IPs are not managed by

            Kubernetes.  The user is responsible for ensuring that traffic arrives

            at a node with this IP.  A common example is external load-balancers

            that are not part of the Kubernetes system.

            +optional'
          items:
            type: string
          type: array
        externalName:
          description: 'externalName is the external reference that discovery mechanisms will

            return as an alias for this service (e.g. a DNS CNAME record). No

            proxying will be involved.  Must be a lowercase RFC-1123 hostname

            (https://tools.ietf.org/html/rfc1123) and requires `type` to be "ExternalName".

            +optional'
          type: string
        externalTrafficPolicy:
          $ref: '#/components/schemas/ServiceExternalTrafficPolicy'
        healthCheckNodePort:
          description: 'healthCheckNodePort specifies the healthcheck nodePort for the service.

            This only applies when type is set to LoadBalancer and

            externalTrafficPolicy is set to Local. If a value is specified, is

            in-range, and is not in use, it will be used.  If not specified, a value

            will be automatically allocated.  External systems (e.g. load-balancers)

            can use this port to determine if a given node holds endpoints for this

            service or not.  If this field is specified when creating a Service

            which does not need it, creation will fail. This field will be wiped

            when updating a Service to no longer need it (e.g. changing type).

            This field cannot be updated once set.

            +optional'
          format: int32
          type: integer
        internalTrafficPolicy:
          $ref: '#/components/schemas/ServiceInternalTrafficPolicy'
        ipFamilies:
          description: 'IPFamilies is a list of IP families (e.g. IPv4, IPv6) assigned to this

            service. This field is usually assigned automatically based on cluster

            configuration and the ipFamilyPolicy field. If this field is specified

            manually, the requested family is available in the cluster,

            and ipFamilyPolicy allows it, it will be used; otherwise creation of

            the service will fail. This field is conditionally mutable: it allows

            for adding or removing a secondary IP family, but it does not allow

            changing the primary IP family of the Service. Valid values are "IPv4"

            and "IPv6".  This field only applies to Services of types ClusterIP,

            NodePort, and LoadBalancer, and does apply to "headless" services.

            This field will be wiped when updating a Service to type ExternalName.


            This field may hold a maximum of two entries (dual-stack families, in

            either order).  These families must correspond to the values of the

            clusterIPs field, if specified. Both clusterIPs and ipFamilies are

            governed by the ipFamilyPolicy field.

            +listType=atomic

            +optional'
          items:
            $ref: '#/components/schemas/IPFamily'
          type: array
        ipFamilyPolicy:
          $ref: '#/components/schemas/IPFamilyPolicy'
        loadBalancerClass:
          description: 'loadBalancerClass is the class of the load balancer implementation this Service belongs to.

            If specified, the value of this field must be a label-style identifier, with an optional prefix,

            e.g. "internal-vip" or "example.com/internal-vip". Unprefixed names are reserved for end-users.

            This field can only be set when the Service type is ''LoadBalancer''. If not set, the default load

            balancer implementation is used, today this is typically done through the cloud provider integration,

            but should apply for any default implementation. If set, it is assumed that a load balancer

            implementation is watching for Services with a matching class. Any default load balancer

            implementation (e.g. cloud providers) should ignore Services that set this field.

            This field can only be set when creating or updating a Service to type ''LoadBalancer''.

            Once set, it can not be changed. This field will be wiped when a service is updated to a non ''LoadBalancer'' type.

            +optional'
          type: string
        loadBalancerIP:
          description: 'Only applies to Service Type: LoadBalancer.

            This feature depends on whether the underlying cloud-provider supports specifying

            the loadBalancerIP when a load balancer is created.

            This field will be ignored if the cloud-provider does not support the feature.

            Deprecated: This field was under-specified and its meaning varies across implementations.

            Using it is non-portable and it may not support dual-stack.

            Users are encouraged to use implementation-specific annotations when available.

            +optional'
          type: string
        loadBalancerSourceRanges:
          description: 'If specified and supported by the platform, this will restrict traffic through the cloud-provider

            load-balancer will be restricted to the specified client IPs. This field will be ignored if the

            cloud-provider does not support the feature."

            More info: https://kubernetes.io/docs/tasks/access-application-cluster/create-external-load-balancer/

            +optional'
          items:
            type: string
          type: array
        ports:
          description: 'The list of ports that are exposed by this service.

            More info: https://kubernetes.io/docs/concepts/services-networking/service/#virtual-ips-and-service-proxies

            +patchMergeKey=port

            +patchStrategy=merge

            +listType=map

            +listMapKey=port

            +listMapKey=protocol'
          items:
            $ref: '#/components/schemas/ServicePort'
          type: array
        publishNotReadyAddresses:
          description: 'publishNotReadyAddresses indicates that any agent which deals with endpoints for this

            Service should disregard any indications of ready/not-ready.

            The primary use case for setting this field is for a StatefulSet''s Headless Service to

            propagate SRV DNS records for its Pods for the purpose of peer discovery.

            The Kubernetes controllers that generate Endpoints and EndpointSlice resources for

            Services interpret this to mean that all endpoints are considered "ready" even if the

            Pods themselves are not. Agents which consume only Kubernetes generated endpoints

            through the Endpoints or EndpointSlice resources can safely assume this behavior.

            +optional'
          type: boolean
        selector:
          additionalProperties:
            type: string
          description: 'Route service traffic to pods with label keys and values matching this

            selector. If empty or not present, the service is assumed to have an

            external process managing its endpoints, which Kubernetes will not

            modify. Only applies to types ClusterIP, NodePort, and LoadBalancer.

            Ignored if type is ExternalName.

            More info: https://kubernetes.io/docs/concepts/services-networking/service/

            +optional

            +mapType=atomic'
          type: object
        sessionAffinity:
          $ref: '#/components/schemas/ServiceAffinity'
        sessionAffinityConfig:
          $ref: '#/components/schemas/SessionAffinityConfig'
        type:
          $ref: '#/components/schemas/ServiceType'
      title: ServiceSpec describes the attributes that a user creates on a service.
      type: object
    PortworxVolumeSource:
      properties:
        fsType:
          description: 'fSType represents the filesystem type to mount

            Must be a filesystem type supported by the host operating system.

            Ex. "ext4", "xfs". Implicitly inferred to be "ext4" if unspecified.'
          type: string
        readOnly:
          description: 'readOnly defaults to false (read/write). ReadOnly here will force

            the ReadOnly setting in VolumeMounts.

            +optional'
          type: boolean
        volumeID:
          description: volumeID uniquely identifies a Portworx volume
          type: string
      title: PortworxVolumeSource represents a Portworx volume resource.
      type: object
    ContainerStateTerminated:
      properties:
        containerID:
          description: 'Container''s ID in the format ''<type>://<container_id>''

            +optional'
          type: string
        exitCode:
          description: Exit status from the last termination of the container
          format: int32
          type: integer
        finishedAt:
          description: 'Time at which the container last terminated

            +optional'
          type: string
        message:
          description: 'Message regarding the last termination of the container

            +optional'
          type: string
        reason:
          description: '(brief) reason from the last termination of the container

            +optional'
          type: string
        signal:
          description: 'Signal from the last termination of the container

            +optional'
          format: int32
          type: integer
        startedAt:
          description: 'Time at which previous execution of the container started

            +optional'
          type: string
      title: ContainerStateTerminated is a terminated state of a container.
      type: object
    Service:
      description: 'Service is a named abstraction of software service (for example, mysql) consisting of local port

        (for example 3306) that the proxy listens on, and the selector that determines which pods

        will answer requests sent through the proxy.'
      properties:
        annotations:
          additionalProperties:
            type: string
          description: 'Annotations is an unstructured key value map stored with a resource that may be

            set by external tools to store and retrieve arbitrary metadata. They are not

            queryable and should be preserved when modifying objects.

            More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations

            +optional'
          type: object
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation of an object.

            Servers should convert recognized schemas to the latest internal value, and

            may reject unrecognized values.

            More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources

            +optional'
          type: string
        creationTimestamp:
          description: 'CreationTimestamp is a timestamp representing the server time when this object was

            created. It is not guaranteed to be set in happens-before order across separate operations.

            Clients may not set this value. It is represented in RFC3339 form and is in UTC.


            Populated by the system.

            Read-only.

            Null for lists.

            More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#metadata

            +optional'
          type: string
        deletionGracePeriodSeconds:
          description: 'Number of seconds allowed for this object to gracefully terminate before

            it will be removed from the system. Only set when deletionTimestamp is also set.

            May only be shortened.

            Read-only.

            +optional'
          format: int64
          type: integer
        deletionTimestamp:
          description: 'DeletionTimestamp is RFC 3339 date and time at which this resource will be deleted. This

            field is set by the server when a graceful deletion is requested by the user, and is not

            directly settable by a client. The resource is expected to be deleted (no longer visible

            from resource lists, and not reachable by name) after the time in this field, once the

            finalizers list is empty. As long as the finalizers list contains items, deletion is blocked.

            Once the deletionTimestamp is set, this value may not be unset or be set further into the

            future, although it may be shortened or the resource may be deleted prior to this time.

            For example, a user may request that a pod is deleted in 30 seconds. The Kubelet will react

            by sending a graceful termination signal to the containers in the pod. After that 30 seconds,

            the Kubelet will send a hard termination signal (SIGKILL) to the container and after cleanup,

            remove the pod from the API. In the presence of network partitions, this object may still

            exist after this timestamp, until an administrator or automated process can determine the

            resource is fully terminated.

            If not set, graceful deletion of the object has not been requested.


            Populated by the system when a graceful deletion is requested.

            Read-only.

            More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#metadata

            +optional'
          type: string
        finalizers:
          description: 'Must be empty before the object is deleted from the registry. Each entry

            is an identifier for the responsible component that will remove the entry

            from the list. If the deletionTimestamp of the object is non-nil, entries

            in this list can only be removed.

            Finalizers may be processed and removed in any order.  Order is NOT enforced

            because it introduces significant risk of stuck finalizers.

            finalizers is a shared field, any actor with permission can reorder it.

            If the finalizer list is processed in order, then this can lead to a situation

            in which the component responsible for the first finalizer in the list is

            waiting for a signal (field value, external system, or other) produced by a

            component responsible for a finalizer later in the list, resulting in a deadlock.

            Without enforced ordering finalizers are free to order amongst themselves and

            are not vulnerable to ordering changes in the list.

            +optional

            +patchStrategy=merge'
          items:
            type: string
          type: array
        generateName:
          description: 'GenerateName is an optional prefix, used by the server, to generate a unique

            name ONLY IF the Name field has not been provided.

            If this field is used, the name returned to the client will be different

            than the name passed. This value will also be combined with a unique suffix.

            The provided value has the same validation rules as the Name field,

            and may be truncated by the length of the suffix required to make the value

            unique on the server.


            If this field is specified and the generated name exists, the server will return a 409.


            Applied only if Name is not specified.

            More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#idempotency

            +optional'
          type: string
        generation:
          description: 'A sequence number representing a specific generation of the desired state.

            Populated by the system. Read-only.

            +optional'
          format: int64
          type: integer
        kind:
          description: 'Kind is a string value representing the REST resource this object represents.

            Servers may infer this from the endpoint the client submits requests to.

            Cannot be updated.

            In CamelCase.

            More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds

            +optional'
          type: string
        labels:
          additionalProperties:
            type: string
          description: 'Map of string keys and values that can be used to organize and categorize

            (scope and select) objects. May match selectors of replication controllers

            and services.

            More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels

            +optional'
          type: object
        managedFields:
          description: 'ManagedFields maps workflow-id and version to the set of fields

            that are managed by that workflow. This is mostly for internal

            housekeeping, and users typically shouldn''t need to set or

            understand this field. A workflow can be the user''s name, a

            controller''s name, or the name of a specific apply path like

            "ci-cd". The set of fields is always in the version that the

            workflow used when modifying the object.


            +optional'
          items:
            $ref: '#/components/schemas/ManagedFieldsEntry'
          type: array
        name:
          description: 'Name must be unique within a namespace. Is required when creating resources, although

            some resources may allow a client to request the generation of an appropriate name

            automatically. Name is primarily intended for creation idempotence and configuration

            definition.

            Cannot be updated.

            More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names#names

            +optional'
          type: string
        namespace:
          description: 'Namespace defines the space within which each name must be unique. An empty namespace is

            equivalent to the "default" namespace, but "default" is the canonical representation.

            Not all objects are required to be scoped to a namespace - the value of this field for

            those objects will be empty.


            Must be a DNS_LABEL.

            Cannot be updated.

            More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces

            +optional'
          type: string
        ownerReferences:
          description: 'List of objects depended by this object. If ALL objects in the list have

            been deleted, this object will be garbage collected. If this object is managed by a controller,

            then an entry in this list will point to this controller, with the controller field set to true.

            There cannot be more than one managing controller.

            +optional

            +patchMergeKey=uid

            +patchStrategy=merge'
          items:
            $ref: '#/components/schemas/OwnerReference'
          type: array
        resourceVersion:
          description: 'An opaque value that represents the internal version of this object that can

            be used by clients to determine when objects have changed. May be used for optimistic

            concurrency, change detection, and the watch operation on a resource or set of resources.

            Clients must treat these values as opaque and passed unmodified back to the server.

            They may only be valid for a particular resource or set of resources.


            Populated by the system.

            Read-only.

            Value must be treated as opaque by clients and .

            More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency

            +optional'
          type: string
        selfLink:
          description: 'Deprecated: selfLink is a legacy read-only field that is no longer populated by the system.

            +optional'
          type: string
        spec:
          $ref: '#/components/schemas/ServiceSpec'
        status:
          $ref: '#/components/schemas/ServiceStatus'
        uid:
          $ref: '#/components/schemas/UID'
      type: object
    NodeSelectorOperator:
      description: 'A node selector operator is the set of operators that can be used in

        a node selector requirement.

        +enum'
      type: string
    Type:
      format: int64
      title: Type represents the stored type of IntOrString.
      type: integer
    TolerationOperator:
      description: +enum
      title: A toleration operator is the set of operators that can be used in a toleration.
      type: string
    ConfigMapVolumeSource:
      description: 'The contents of the target ConfigMap''s Data field will be presented in a

        volume as files using the keys in the Data field as the file names, unless

        the items element is populated with specific mappings of keys to paths.

        ConfigMap volumes support ownership management and SELinux relabeling.'
      properties:
        defaultMode:
          description: 'defaultMode is optional: mode bits used to set permissions on created files by default.

            Must be an octal value between 0000 and 0777 or a decimal value between 0 and 511.

            YAML accepts both octal and decimal values, JSON requires decimal values for mode bits.

            Defaults to 0644.

            Directories within the path are not affected by this setting.

            This might be in conflict with other options that affect the file

            mode, like fsGroup, and the result can be other mode bits set.

            +optional'
          format: int32
          type: integer
        items:
          description: 'items if unspecified, each key-value pair in the Data field of the referenced

            ConfigMap will be projected into the volume as a file whose name is the

            key and content is the value. If specified, the listed keys will be

            projected into the specified paths, and unlisted keys will not be

            present. If a key is specified which is not present in the ConfigMap,

            the volume setup will error unless it is marked optional. Paths must be

            relative and may not contain the ''..'' path or start with ''..''.

            +optional'
          items:
            $ref: '#/components/schemas/KeyToPath'
          type: array
        name:
          description: 'Name of the referent.

            More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names

            TODO: Add other useful fields. apiVersion, kind, uid?

            +optional'
          type: string
        optional:
          description: 'optional specify whether the ConfigMap or its keys must be defined

            +optional'
          type: boolean
      title: Adapts a ConfigMap into a volume.
      type: object
    SeccompProfile:
      description: 'Only one profile source may be set.

        +union'
      properties:
        localhostProfile:
          description: 'localhostProfile indicates a profile defined in a file on the node should be used.

            The profile must be preconfigured on the node to work.

            Must be a descending path, relative to the kubelet''s configured seccomp profile location.

            Must be set if type is "Localhost". Must NOT be set for any other type.

            +optional'
          type: string
        type:
          $ref: '#/components/schemas/SeccompProfileType'
      title: SeccompProfile defines a pod/container's seccomp profile settings.
      type: object
    NFSVolumeSource:
      description: NFS volumes do not support ownership management or SELinux relabeling.
      properties:
        path:
          description: 'path that is exported by the NFS server.

            More info: https://kubernetes.io/docs/concepts/storage/volumes#nfs'
          type: string
        readOnly:
          description: 'readOnly here will force the NFS export to be mounted with read-only permissions.

            Defaults to false.

            More info: https://kubernetes.io/docs/concepts/storage/volumes#nfs

            +optional'
          type: boolean
        server:
          description: 'server is the hostname or IP address of the NFS server.

            More info: https://kubernetes.io/docs/concepts/storage/volumes#nfs'
          type: string
      title: Represents an NFS mount that lasts the lifetime of a pod.
      type: object
    SecretKeySelector:
      description: +structType=atomic
      properties:
        key:
          description: The key of the secret to select from.  Must be a valid secret key.
          type: string
        name:
          description: 'Name of the referent.

            More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names

            TODO: Add other useful fields. apiVersion, kind, uid?

            +optional'
          type: string
        optional:
          description: 'Specify whether the Secret or its key must be defined

            +optional'
          type: boolean
      title: SecretKeySelector selects a key of a Secret.
      type: object
    DownwardAPIVolumeSource:
      description: Downward API volumes support ownership management and SELinux relabeling.
      properties:
        defaultMode:
          description: 'Optional: mode bits to use on created files by default. Must be a

            Optional: mode bits used to set permissions on created files by default.

            Must be an octal value between 0000 and 0777 or a decimal value between 0 and 511.

            YAML accepts both octal and decimal values, JSON requires decimal values for mode bits.

            Defaults to 0644.

            Directories within the path are not affected by this setting.

            This might be in conflict with other options that affect the file

            mode, like fsGroup, and the result can be other mode bits set.

            +optional'
          format: int32
          type: integer
        items:
          description: 'Items is a list of downward API volume file

            +optional'
          items:
            $ref: '#/components/schemas/DownwardAPIVolumeFile'
          type: array
      title: DownwardAPIVolumeSource represents a volume containing downward API info.
      type: object
    GCEPersistentDiskVolumeSource:
      description: 'A GCE PD must exist before mounting to a container. The disk must

        also be in the same GCE project and zone as the kubelet. A GCE PD

        can only be mounted as read/write once or read-only many times. GCE

        PDs support ownership management and SELinux relabeling.'
      properties:
        fsType:
          description: 'fsType is filesystem type of the volume that you want to mount.

            Tip: Ensure that the filesystem type is supported by the host operating system.

            Examples: "ext4", "xfs", "ntfs". Implicitly inferred to be "ext4" if unspecified.

            More info: https://kubernetes.io/docs/concepts/storage/volumes#gcepersistentdisk

            TODO: how do we prevent errors in the filesystem from compromising the machine

            +optional'
          type: string
        partition:
          description: 'partition is the partition in the volume that you want to mount.

            If omitted, the default is to mount by volume name.

            Examples: For volume /dev/sda1, you specify the partition as "1".

            Similarly, the volume partition for /dev/sda is "0" (or you can leave the property empty).

            More info: https://kubernetes.io/docs/concepts/storage/volumes#gcepersistentdisk

            +optional'
          format: int32
          type: integer
        pdName:
          description: 'pdName is unique name of the PD resource in GCE. Used to identify the disk in GCE.

            More info: https://kubernetes.io/docs/concepts/storage/volumes#gcepersistentdisk'
          type: string
        readOnly:
          description: 'readOnly here will force the ReadOnly setting in VolumeMounts.

            Defaults to false.

            More info: https://kubernetes.io/docs/concepts/storage/volumes#gcepersistentdisk

            +optional'
          type: boolean
      title: Represents a Persistent Disk resource in Google Compute Engine.
      type: object
    NodeInclusionPolicy:
      description: 'NodeInclusionPolicy defines the type of node inclusion policy

        +enum'
      type: string
    NodeSelectorRequirement:
      description: 'A node selector requirement is a selector that contains values, a key, and an operator

        that relates the key and values.'
      properties:
        key:
          description: The label key that the selector applies to.
          type: string
        operator:
          $ref: '#/components/schemas/NodeSelectorOperator'
        values:
          description: 'An array of string values. If the operator is In or NotIn,

            the values array must be non-empty. If the operator is Exists or DoesNotExist,

            the values array must be empty. If the operator is Gt or Lt, the values

            array must have a single element, which will be interpreted as an integer.

            This array is replaced during a strategic merge patch.

            +optional'
          items:
            type: string
          type: array
      type: object
    ResourceFieldSelector:
      description: 'ResourceFieldSelector represents container resources (cpu, memory) and their output format

        +structType=atomic'
      properties:
        containerName:
          description: 'Container name: required for volumes, optional for env vars

            +optional'
          type: string
        divisor:
          $ref: '#/components/schemas/Quantity'
        resource:
          description: 'Required: resource to select'
          type: string
      type: object
    EphemeralVolumeSource:
      properties:
        volumeClaimTemplate:
          $ref: '#/components/schemas/PersistentVolumeClaimTemplate'
      title: Represents an ephemeral volume that is handled by a normal storage driver.
      type: object
    TypedLocalObjectReference:
      description: 'TypedLocalObjectReference contains enough information to let you locate the

        typed referenced object inside the same namespace.

        +structType=atomic'
      properties:
        apiGroup:
          description: 'APIGroup is the group for the resource being referenced.

            If APIGroup is not specified, the specified Kind must be in the core API group.

            For any other third-party types, APIGroup is required.

            +optional'
          type: string
        kind:
          description: Kind is the type of resource being referenced
          type: string
        name:
          description: Name is the name of resource being referenced
          type: string
      type: object
    ResourceList:
      additionalProperties:
        $ref: '#/components/schemas/Quantity'
      title: ResourceList is a set of (resource name, quantity) pairs.
      type: object
    PodQOSClass:
      description: +enum
      title: PodQOSClass defines the supported qos classes of Pods.
      type: string
    Volume:
      properties:
        awsElasticBlockStore:
          $ref: '#/components/schemas/AWSElasticBlockStoreVolumeSource'
        azureDisk:
          $ref: '#/components/schemas/AzureDiskVolumeSource'
        azureFile:
          $ref: '#/components/schemas/AzureFileVolumeSource'
        cephfs:
          $ref: '#/components/schemas/CephFSVolumeSource'
        cinder:
          $ref: '#/components/schemas/CinderVolumeSource'
        configMap:
          $ref: '#/components/schemas/ConfigMapVolumeSource'
        csi:
          $ref: '#/components/schemas/CSIVolumeSource'
        downwardAPI:
          $ref: '#/components/schemas/DownwardAPIVolumeSource'
        emptyDir:
          $ref: '#/components/schemas/EmptyDirVolumeSource'
        ephemeral:
          $ref: '#/components/schemas/EphemeralVolumeSource'
        fc:
          $ref: '#/components/schemas/FCVolumeSource'
        flexVolume:
          $ref: '#/components/schemas/FlexVolumeSource'
        flocker:
          $ref: '#/components/schemas/FlockerVolumeSource'
        gcePersistentDisk:
          $ref: '#/components/schemas/GCEPersistentDiskVolumeSource'
        gitRepo:
          $ref: '#/components/schemas/GitRepoVolumeSource'
        glusterfs:
          $ref: '#/components/schemas/GlusterfsVolumeSource'
        hostPath:
          $ref: '#/components/schemas/HostPathVolumeSource'
        iscsi:
          $ref: '#/components/schemas/ISCSIVolumeSource'
        name:
          description: 'name of the volume.

            Must be a DNS_LABEL and unique within the pod.

            More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names'
          type: string
        nfs:
          $ref: '#/components/schemas/NFSVolumeSource'
        persistentVolumeClaim:
          $ref: '#/components/schemas/PersistentVolumeClaimVolumeSource'
        photonPersistentDisk:
          $ref: '#/components/schemas/PhotonPersistentDiskVolumeSource'
        portworxVolume:
          $ref: '#/components/schemas/PortworxVolumeSource'
        projected:
          $ref: '#/components/schemas/ProjectedVolumeSource'
        quobyte:
          $ref: '#/components/schemas/QuobyteVolumeSource'
        rbd:
          $ref: '#/components/schemas/RBDVolumeSource'
        scaleIO:
          $ref: '#/components/schemas/ScaleIOVolumeSource'
        secret:
          $ref: '#/components/schemas/SecretVolumeSource'
        storageos:
          $ref: '#/components/schemas/StorageOSVolumeSource'
        vsphereVolume:
          $ref: '#/components/schemas/VsphereVirtualDiskVolumeSource'
      title: Volume represents a named volume in a pod that may be accessed by any container in the pod.
      type: object
    PreemptionPolicy:
      description: +enum
      title: PreemptionPolicy describes a policy for if/when to preempt a pod.
      type: string
    Protocol:
      type: string
      description: 'For model inference, Seldon recommends using the industry-standard Open Inference Protocol (OIP) as the preferred protocol over others.<br>The corresponding protocol OIP value for Seldon Deployments is ''v2''. For Seldon ML Pipelines, this is the only supported protocol.<br>For more information, please refer to the Seldon documentation: https://docs.seldon.ai/seldon-core-2/apis/inference/v2'
    DownwardAPIVolumeFile:
      description: DownwardAPIVolumeFile represents information to create the file containing the pod field
      properties:
        fieldRef:
          $ref: '#/components/schemas/ObjectFieldSelector'
        mode:
          description: 'Optional: mode bits used to set permissions on this file, must be an octal value

            between 0000 and 0777 or a decimal value between 0 and 511.

            YAML accepts both octal and decimal values, JSON requires decimal values for mode bits.

            If not specified, the volume defaultMode will be used.

            This might be in conflict with other options that affect the file

            mode, like fsGroup, and the result can be other mode bits set.

            +optional'
          format: int32
          type: integer
        path:
          description: 'Required: Path is  the relative path name of the file to be created. Must not be absolute or contain the ''..'' path. Must be utf-8 encoded. The first item of the relative path must not start with ''..'''
          type: string
        resourceFieldRef:
          $ref: '#/components/schemas/ResourceFieldSelector'
      type: object
    PodFSGroupChangePolicy:
      description: 'PodFSGroupChangePolicy holds policies that will be used for applying fsGroup to a volume

        when volume is mounted.

        +enum'
      type: string
    Component:
      properties:
        component:
          type: string
        deployments:
          $ref: '#/components/schemas/DeploymentList'
        pods:
          $ref: '#/components/schemas/PodList'
        services:
          $ref: '#/components/schemas/ServiceList'
      type: object
    DeploymentList:
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation of an object.

            Servers should convert recognized schemas to the latest internal value, and

            may reject unrecognized values.

            More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources

            +optional'
          type: string
        continue:
          description: 'continue may be set if the user set a limit on the number of items returned, and indicates that

            the server has more data available. The value is opaque and may be used to issue another request

            to the endpoint that served this list to retrieve the next set of available objects. Continuing a

            consistent list may not be possible if the server configuration has changed or more than a few

            minutes have passed. The resourceVersion field returned when using this continue value will be

            identical to the value in the first response, unless you have received this token from an error

            message.'
          type: string
        items:
          description: Items is the list of Deployments.
          items:
            $ref: '#/components/schemas/Deployment'
          type: array
        kind:
          description: 'Kind is a string value representing the REST resource this object represents.

            Servers may infer this from the endpoint the client submits requests to.

            Cannot be updated.

            In CamelCase.

            More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds

            +optional'
          type: string
        remainingItemCount:
          description: 'remainingItemCount is the number of subsequent items in the list which are not included in this

            list response. If the list request contained label or field selectors, then the number of

            remaining items is unknown and the field will be left unset and omitted during serialization.

            If the list is complete (either because it is not chunking or because this is the last chunk),

            then there are no more remaining items and this field will be left unset and omitted during

            serialization.

            Servers older than v1.15 do not set this field.

            The intended use of the remainingItemCount is *estimating* the size of a collection. Clients

            should not rely on the remainingItemCount to be set or to be exact.

            +optional'
          format: int64
          type: integer
        resourceVersion:
          description: 'String that identifies the server''s internal version of this object that

            can be used by clients to determine when objects have changed.

            Value must be treated as opaque by clients and passed unmodified back to the server.

            Populated by the system.

            Read-only.

            More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency

            +optional'
          type: string
        selfLink:
          description: 'Deprecated: selfLink is a legacy read-only field that is no longer populated by the system.

            +optional'
          type: string
      title: DeploymentList is a list of Deployments.
      type: object
    LifecycleHandler:
      description: 'LifecycleHandler defines a specific action that should be taken in a lifecycle

        hook. One and only one of the fields, except TCPSocket must be specified.'
      properties:
        exec:
          $ref: '#/components/schemas/ExecAction'
        httpGet:
          $ref: '#/components/schemas/HTTPGetAction'
        sleep:
          $ref: '#/components/schemas/SleepAction'
        tcpSocket:
          $ref: '#/components/schemas/TCPSocketAction'
      type: object
    Quantity:
      description: 'The serialization format is:


        ```

        <quantity>        ::= <signedNumber><suffix>


        (Note that <suffix> may be empty, from the "" case in <decimalSI>.)


        <digit>           ::= 0 | 1 | ... | 9

        <digits>          ::= <digit> | <digit><digits>

        <number>          ::= <digits> | <digits>.<digits> | <digits>. | .<digits>

        <sign>            ::= "+" | "-"

        <signedNumber>    ::= <number> | <sign><number>

[...]
